[2020-01-10 19:42] laurenwalker opened #1233 "Metrics tabs not working in some portals"

[2020-01-10 19:43] laurenwalker opened #1234 "Login issues in Safari"
A few people were unable to log into Safari today on dev.nceas and test.arcticdata

[2020-01-10 20:56] laurenwalker commented on #1229
This "can associate" permission would technically add the `read` permission to the AccessRule for that portal document.

[2020-01-10 22:06] laurenwalker opened #1235 "Allow editing of groupName for user groups"
Add a field to the group edit view that allows the user to edit the `groupName`

[2020-01-10 23:01] gothub opened #1236 "IE 11 page load error"
On Windows 10, IE 11, the following error is printed to the console while trying to load
`http://localhost:3000/portals/SASAP`:
[code]

This was encountered while testing locally using the 'node express' server, in the `feature-portal-agu-demo` branch, that was recently merged with `dev-2.8`.

Note: the same server/url works with Edge.

[2020-01-12 19:06] mbjones commented on #1213
Yes, please, let's create a feature issue for letting users report publications that used or cited their data.  This might come in two phases, the first of which is as you say just a linked email to report citations to the data team, and the better phase would be a UI for getting the DOI/biblio info for the pub and then adding that into the citation database and report it to DataCite for DOIs that

[2020-01-13 16:59] laurenwalker opened #1237 "Move app configuration to a config.js file"
See #281 for a more detailed idea of what we eventually would love to do. This issue represents the first phase of external configuration, which is not perfect for managing multiple deployments, but is a major improvement.

I propose we create a `config.js` JSON file to contain the app configuration, which gets `set()` on the `AppModel` on initialization. In the source code, this JSON would be emp

[2020-01-13 17:20] #1010 closed

[2020-01-13 17:20] #1123 closed

[2020-01-13 17:23] laurenwalker commented on #902
Hi @amoeba -- I'm currently triaging a lot of MetacatUI tickets and wondering about an update on this -- has there/will there be any work on this in the near future?

[2020-01-13 17:30] gothub commented on #1200
The `es6-promise` component has been tested on Chrome, Edge, but not IE 11, as issue #1236 is a blocker - the metrics tab doesn't load.

The `Promise` polyfill was implemented and checked into the `feature-portals-agu-demo` branch (parent: dev-2.8) in commits:
- bee200358bebab1f2bc743d18e22f172571eff47 - Use ‘Promise’ polyfill (for IE)
- 642cd03cc2c40c55acdec326c7c1cb7028a12808 - Use ‘Promise’ pol

[2020-01-13 17:34] gothub commented on #1116
This work is done, except for IE 11 testing as described in https://github.com/NCEAS/metacatui/issues/1200.

Initial commit e053b1705567b6d3362483de7eb6fc009d7bf462 in `feature-portals-agu-demo`, a branch of `dev-2.8`.

[2020-01-13 17:34] #1116 closed

[2020-01-13 17:38] laurenwalker opened #1238 "Redesign EMLPartyView"
When we were designing the Portal Editor, we redesigned the EMLPartyView as well. It fixes some usability issues and allows for easier drag-n-drop reordering of EMLParties.

See the redesign mockups here: https://github.nceas.ucsb.edu/NCEAS/nceas-design/tree/master/MetacatUI/Portals/Portal-Editor/2019-06-05_Round2/2x

[2020-01-13 17:38] laurenwalker opened #1239 "Allow reordering of EMLParties by dragging"
When designing the Portal Editor, we came up with a redesign of the EMLPartyView that would make drag-and-drop reordering much simpler. When we redesign the EMLPartyView, we can introduce drag-and-drop reordering at the same time.

See #1238

[2020-01-13 17:39] laurenwalker commented on #521
To start, this feature should use a simple move up/down buttons, rather than drag-and-drop, since the EMLPartyView tends to be pretty tall.

When designing the Portal Editor, we came up with a redesign of the EMLPartyView that would make drag-and-drop reordering much simpler. When we redesign the EMLPartyView, we can introduce drag-and-drop reordering at the same time. I created a new issue to con

[2020-01-13 17:44] #484 closed

[2020-01-13 17:47] laurenwalker commented on #796
This is a duplicate of #954

[2020-01-13 17:47] #796 closed

[2020-01-13 17:53] laurenwalker commented on #86
This was completed already in #543

[2020-01-13 17:53] #86 closed

[2020-01-13 17:55] laurenwalker commented on #201
I believe this was fixed already

[2020-01-13 17:55] #201 closed

[2020-01-13 17:56] laurenwalker commented on #1221
This same feature should be added to the MetadataView

[2020-01-13 18:10] laurenwalker opened #1240 "Add config option for turning off MDQ features"
Related to #1209

[2020-01-13 18:28] #1208 closed

[2020-01-13 18:29] #951 closed

[2020-01-13 19:30] laurenwalker opened #1241 "Portals metrics tab shows 0 metadata stats"

[2020-01-13 19:35] laurenwalker opened #1242 "Assess emergency draft feature status"
Assess the status of #216 and how much time it would take to get an MVP released to production (even if not perfect yet)

[2020-01-13 19:45] rushirajnenuji commented on #1241
I think there is something that is breaking both this and #1233. `Time Period of Data` (grays out) and `Latest Updates` (keeps spinning).

I can also take a look at this if it helps.

[2020-01-13 20:34] laurenwalker commented on #21
I just tried to reproduce this bug and it has been fixed already.

[2020-01-13 20:34] #21 closed

[2020-01-13 20:43] laurenwalker opened #1243 "Allow searching for a person using the ORCID search service in the Permissions panel"

[2020-01-13 20:56] laurenwalker commented on #265
This has already been fixed - all of the filters in the DataCatalogView will only retrieve autocomplete facets after the user has clicked on the text input.

[2020-01-13 20:56] #265 closed

[2020-01-13 21:05] laurenwalker commented on #344
This has been moved to an Epic, #1232

[2020-01-13 21:05] #344 closed

[2020-01-13 21:14] laurenwalker commented on #410
This issue has since been fixed. I think we need to improve the UI of file selection tool so that certain file types are listed first, or add sorting and filtering mechanisms. Maybe display as a table rather than a multi-select input. But for now, this is working, so I'm going to close this issue.

[2020-01-13 21:14] #410 closed

[2020-01-13 21:21] laurenwalker commented on #498
We're currently working on this for DataONE paid features, so I'll close this issue

[2020-01-13 21:21] #498 closed

[2020-01-13 21:21] laurenwalker commented on #500
We're replacing these charts with the newer interactive/zoomable charts

[2020-01-13 21:21] #500 closed

[2020-01-13 21:22] laurenwalker commented on #512
Duplicate of #213

[2020-01-13 21:22] #512 closed

[2020-01-13 21:23] laurenwalker commented on #545
Removing the 'blocker' label since this isn't truly blocking any work - will replace with a priority label.

[2020-01-13 21:25] laurenwalker commented on #584
We've done some UX testing of the new metrics charts by now, so closing

[2020-01-13 21:25] #584 closed

[2020-01-14 19:20] laurenwalker opened #1244 "Add the Portals View to the DataONE theme"
Currently, portals can only be viewed in the non-DataONE themes. It should be a fairly simple alteration to get the portals viewable in the DataONE theme, too. The primary difference is that the CN API is used instead of the MN API - this needs some testing to make sure everything works smoothly. We also need some minor alterations to remove the Edit button.

[2020-01-15 17:36] #1236 closed

[2020-01-15 23:21] gothub commented on #1200
The 'Promise' polyfill has been verified on WIn10/IE (and Edge):

<img width="1294" alt="Screen Shot 2020-01-15 at 3 14 49 PM" src="https://user-images.githubusercontent.com/6412946/72479778-37e5da80-37aa-11ea-9f3c-b13635bbf5e5.png">

[2020-01-15 23:21] #1200 closed

[2020-01-16 00:52] rushirajnenuji opened #1245 "Add feature to report data citations to Metrics Service"
This issue stems from : #1213

As a first pass - we've decided to take input from the user and do a `POST` to the Metrics Service for that identifier. The Metrics Service will gather the required Metadata and store the citation information into PostgreSQL. Once this entire cycle of citation insertion is complete the citation will then show up on MetacatUI.

[2020-01-16 16:59] jeanetteclark opened #1246 "editing `entityName` results in two entities for the same file"
Editing the `entityName` in metacatUI results in two entity entries for the same file. See this as an example:

https://test.arcticdata.io/view/urn:uuid:ca365745-e4b4-425d-9feb-9ccf07bb8896

Since entity information in the metadata record is often linked to the entities themselves by the filename in the systemMetadata (I think) I'm wondering if we should  disallow editing `entityName` in the edito

[2020-01-16 21:10] #1127 closed

[2020-01-16 21:12] #1186 closed

[2020-01-16 23:22] #1233 closed

[2020-01-16 23:22] #1241 closed

[2020-01-16 23:31] laurenwalker commented on #1095
I believe this is a duplicate of #1217, but I'll leave it open so we can verify that when we fix it.

[2020-01-17 18:26] laurenwalker commented on #1234
I was unable to reproduce this issue since Safari has been working fine for me. I'll keep the ticket open in case we keep seeing this issue.

[2020-01-17 20:00] rushirajnenuji opened #1247 "Error while loading portal metrics charts in IE11"
Error: `[script445] object doesn't support this action`

Internet explorer fails while loading portal metrics charts.

[2020-01-17 22:35] laurenwalker commented on #1209
Moving this to the icebox since we decided it's a nice-to-have but not necessary

[2020-01-17 22:59] #1226 closed

[2020-01-17 22:59] #1227 closed

[2020-01-17 23:00] laurenwalker commented on #1195
Hi @robyngit - I know you have switched gears recently, but I was wondering if you ever got a start on this:

[2020-01-17 23:47] rushirajnenuji commented on #1247
There were a couple of issues that IE11 was complaining about.
1. Using backtick for long strings - which are not supported by IE11. So I went back to using normal strings.
2. `Math.log2` was not supported - but was required by MetricsChartsView. So, I added a polyfill for that in `loader.js`.
Solved in the above commit.

[2020-01-17 23:47] #1247 closed

[2020-01-18 00:14] dataone-website-test commented on #1195
Hey @laurenwalker, thanks for the reminder and sorry for leaving that loose end! I haven't started it yet, but I will ASAP.

[2020-01-21 00:18] laurenwalker opened #1248 "Issues with MDQ AppModel attributes"
- [ ] In the default theme, I am getting an error:
[code]
I believe this is because there are AppModel attributes for the mdq features (e.g. `mdqAggregatedSuiteIds`) that are in the arctic and knb theme AppModel.js files, but I don't see them in the js/models/AppModel.js (default) AppModel.

- [ ] Why are there AppModel attributes that are listed as default attributes in the `defaults` object, but

[2020-01-21 00:19] laurenwalker opened #1249 "MDQ chart needs to fail gracefully"
When the MDQ image fails to render for me, the loading spinner is displayed forever. The chart needs to display some kind of feedback to the user when it has failed to render. (I thought that is why we chose to use `Promise`?)

It would be good to show a message that explains what the reason mostly likely is, and any steps that can be taken to remedy it.

It's possible it is failing to show the er

[2020-01-21 00:24] laurenwalker commented on #1213
Hi Rushi, I just reviewed the changes from this issue. We need to make the font color a bit darker so that our users can actually read the message about reporting citations. I can barely read this message:

![Screen Shot 2020-01-20 at 6.22.39 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/5300bf8d-dcad-45de-a026-59a0d2273b16)

It looks like you also left out the first senten

[2020-01-21 00:27] laurenwalker opened #1250 "Change wording of message when there are 0 downloads/views"
![Screen Shot 2020-01-20 at 6.25.06 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/eec97ceb-495f-4141-9b37-77077bc8be03)

Right now the message says, "This portal has no views to display". I think that's a bit vague and uses our DataONE lingo (i.e. so are there views, but they're just not displayed? And what's a portal?)

Let's change the wording to:

"This dataset/These dat

[2020-01-21 00:34] laurenwalker commented on #1067
This has been fixed

[2020-01-21 00:34] #1067 closed

[2020-01-21 00:35] laurenwalker commented on #1036
Duplicate of #1037

[2020-01-21 00:35] #1036 closed

[2020-01-21 00:38] laurenwalker commented on #890
This is fixed already

[2020-01-21 00:38] #890 closed

[2020-01-21 00:42] laurenwalker commented on #1245
I think the estimate of time for this issue should be greater than 1. 1 is the lowest estimate available, and I think of 1 as something than can be done in about 30 min-1 hour.

I think because a POST API for this feature would need to be developed, and then the POST request would need to be added to MetacatUI, then a UI would need to be developed too, this is much more than a 30min-1 hour task.

[2020-01-21 00:46] #753 closed

[2020-01-21 00:51] laurenwalker commented on #695
We have plans to do this with the Permissions View (#1232)

[2020-01-21 00:51] #695 closed

[2020-01-21 00:51] #693 closed

[2020-01-21 00:52] laurenwalker commented on #692
We decided we will use the portals for these views. We just need to create portal documents for each funder. Since this is not a MetacatUI-specific task, I will close this issue.

[2020-01-21 00:52] #692 closed

[2020-01-21 00:55] laurenwalker commented on #619
This is done already

[2020-01-21 00:55] #619 closed

[2020-01-21 01:07] laurenwalker commented on #803
I just tested this and did not get this bug. I believe this may have been fixed since originally filed. I know we were having issues with the DOIs in the resource maps about a year ago, so it may have been related to that.

[2020-01-21 01:07] #803 closed

[2020-01-21 01:26] laurenwalker opened #1251 "Links not working on feature-portals-agu-demo branch"
I'm having this issue only on the feature-portals-agu-demo branch. To reproduce:

- Go to a portals view, such as /portals/sasap
- Click on the Data tab
- Click on the link to the first dataset listed
- Bug: The page URL changes in the browser, but the page doesn't actually navigate to the MetadataView until after a significant delay.

I've never seen this before, so I'm not sure what is causing i

[2020-01-21 17:55] csjx opened #1252 "Metadata editor: Add data to a package by identifier reference"
After talking with Rani Gaddam and Mike Esgro at the California Ocean Protection Council, they suggested that we add a feature to the `DataItemView` dropdown to add an existing data object to a package by providing the object's `identifier`.  This feature would likely be needed in the `+ Add Files` button in the `DataPackageView` only, and would include a dropdown caret and menu item like `Add Fil

[2020-01-21 18:55] laurenwalker commented on #1252
I like this idea. I could see us showing a selection UI with a list of data file details (file name, size, etc.) that the user has some kind of ownership of, and in addition to that, an identifier input.

[2020-01-21 22:44] gothub commented on #1248
Fixed in commit 47787a6e27d2377e1a1908f217f4a633fd6706cb

Changes in this commit include:
- removing redundant definition of quality metrics attributes
- add needed definition for quality metrics to `./src/js/models/AppModel.js` (default theme)
  - `default` theme uses `FAIR Suite` as dataset quality suite
  - `default` theme doesn't display quality metrics by default (requires attribute edit to c

[2020-01-21 22:44] #1248 closed

[2020-01-21 23:44] gothub commented on #1249
@laurenwalker - the error handling is currently in `Stats.js` and `StatsView.js`. Here is the error dialog that is displayed when I intentionally cause the server to fail by misspelling the url in the `AppModel.js` attribute:

<img width="1440" alt="Screen Shot 2020-01-21 at 3 34 43 PM" src="https://user-images.githubusercontent.com/6412946/72852738-5cd3c500-3c64-11ea-8d96-340b1016e376.png">

The

[2020-01-22 01:00] laurenwalker commented on #1172
These three related bugs: #1172, #1217, #1095 are all now fixed with the same commit referenced above.  Please let me know if you continue to see this behavior, since it's possible more than one set of steps cause this bug (but I was only able to find one, after LOTS of debugging).

[2020-01-22 01:00] #1172 closed

[2020-01-22 01:00] laurenwalker commented on #1217
These three related bugs: #1172, #1217, #1095 are all now fixed with the same commit referenced above.  Please let me know if you continue to see this behavior, since it's possible more than one set of steps cause this bug (but I was only able to find one, after LOTS of debugging).

[2020-01-22 01:00] #1217 closed

[2020-01-22 01:00] laurenwalker commented on #1095
These three related bugs: #1172, #1217, #1095 are all now fixed with the same commit referenced above.  Please let me know if you continue to see this behavior, since it's possible more than one set of steps cause this bug (but I was only able to find one, after LOTS of debugging).

[2020-01-22 01:00] #1095 closed

[2020-01-22 01:08] laurenwalker commented on #1249
This is a failure coming from a different part of the code than what you are referencing.

The error I experienced (which is now fixed since you added the mdq attributes to the default AppModel), was not showing the error message since it occurred in `Stats.getMdqScores()`.

This can easily be fixed by wrapping the `Stats.getMdqScores()` function in a try, catch statement (which we should be doing

[2020-01-22 19:55] robyngit commented on #1195
I fixed this using the `core-js` component, which is loaded in the `ImageUploaderView.` I intended to pull this component in only for users with older browsers, but encountered problems since it doesn't work when it's loaded *after* dropzone is already loaded (as far as I can tell). Another option would be to have a parent view pull in `core-js` before rendering `ImageUploaderView`, and after doin

[2020-01-22 22:01] jeanetteclark opened #1253 "adding one data file generates two otherEntities"
Adding a data file on test.arcticdata.io results in two metadata entities for that file, one with attribute information and another with the download link. There should only be one entity.

steps to reproduce:

start a submission with one file
add attributes to that file
submit dataset

observe two entities. Example: https://test.arcticdata.io/view/urn:uuid:c866f36d-015f-4663-bc3d-f1367428664c

[2020-01-23 15:22] laurenwalker opened #1254 "Citations button not working"
When I click on the citations button on a dataset, I get this error:

[code]

Example dataset: https://arcticdata.io/catalog/view/doi:10.18739/A2804XJ9V

It looks like we don't have any `try, catch` statements in the MetricsChartView. At the very least, the `render()` function should be wrapped in one, and as much as reasonable, chunks of code should be wrapped in `try`s as well so as much of the

[2020-01-23 15:28] laurenwalker commented on #1195
Darn MS causing all these workarounds! Thanks for fixing this.

[2020-01-23 15:28] #1195 closed

[2020-01-23 17:36] rushirajnenuji commented on #1213
Made the changes in the above commit. Updated the empty citation list and added the link. This issue is ready to be closed.
![Screen Shot 2020-01-23 at 9 33 26 AM](https://user-images.githubusercontent.com/19696935/73008619-c5858380-3dc3-11ea-884c-5b4955623ab0.png)

[2020-01-23 17:36] #1213 closed

[2020-01-23 17:43] rushirajnenuji commented on #1250
Fixed this in the above commit.
Updated message for 0 download / views
![Screen Shot 2020-01-23 at 9 42 28 AM](https://user-images.githubusercontent.com/19696935/73009129-c965d580-3dc4-11ea-9a77-eb0c8283139f.png)

[2020-01-23 17:58] laurenwalker commented on #1213
Perfect!

[2020-01-23 18:00] laurenwalker commented on #1250
Looks great!

[2020-01-23 18:00] #1250 closed

[2020-01-23 19:28] laurenwalker commented on #1225
I've tried to reproduce this bug exactly (where the Loading spinner displays indefinitely) and I can't. I'm able to reproduce the source of the bug, which is that the editor won't load fully if the user doesn't have write permission on the resource map. But the loading spinner goes away for me.

So at this point I think this is a duplicate of #628 - Basically, we need to check the permission of th

[2020-01-23 19:28] #1225 closed

[2020-01-24 19:21] #1176 closed

[2020-01-24 19:28] #1253 closed

[2020-01-24 19:28] laurenwalker commented on #1253
I believe this issue was fixed with the other EML entity issues in to-be-released 2.9.0. (The MetacatUI version on test.arcticdata is 2.8.3). I was able to reproduce the issue on the 2.8.3 tag but not on the current dev-2.9 branch.

[2020-01-24 22:01] FiannaOBrien opened #1255 "File download automatically launches on package landing page"
When running Firefox 71 on Windows 10, on load of a data package landing page, a dialog box for file download for metadata pdf automatically opens, without having clicked download button.

The issue was seen on both search.dataone and data.ess-dive

[2020-01-27 16:02] rushirajnenuji commented on #1251
Interesting bug - took a while to figure out. Since path Alias was already defined - requireJS was not importing MetricsChartView properly via the full path.

Found a relevant issue: https://github.com/requirejs/requirejs/issues/1630

This is now fixed and up for review.

[2020-01-27 16:10] rushirajnenuji commented on #1254
Thanks for the directions, Lauren. This was one of the manually added citations, so the `linkPublicationDate` was NULL (date when a citation relation was established between the two resources). Metrics Service already handles this edge case, but we haven't made it to production yet. Hence we encountered this bug in the UI.

Fixed this issue from the UI side (refer above commit). For cases when we

[2020-01-27 16:12] rushirajnenuji commented on #1185
This has already been completed as part of #1214 and #1115. Closing this issue.

[2020-01-27 16:12] #1185 closed

[2020-01-27 16:29] rushirajnenuji opened #1256 "CORS issue with Portal Metrics"
Matt reported the following error while trying to load the Portal Metrics view. I was not able to reproduce this error. This was part of #1115

[code]

[2020-01-27 16:37] rushirajnenuji opened #1257 "Portal Metrics Markdown Example parsing issue"
Occurred as part of #1115

Error:
[code]

[2020-01-27 16:39] rushirajnenuji commented on #1115
The development work related to this issue is complete. There were a couple of bugs which are filed as separate issues linked above.

[2020-01-27 17:56] gothub opened #1258 "Remove unused quality metrics code"
The original plan for displaying aggregated quality metrics was to query Solr and display a chart (bar, box or something else). This approach has been superceded with the method of retrieving
pre-generated graphics (generated off-line) of the aggregated metrics.

The functions that implemented the previous retrieval method should be removed (from dev-2.9):
- models/Stats.js
  - getMdqStats()
  - g

[2020-01-28 01:24] #1221 closed

[2020-01-28 02:05] #1249 closed

[2020-01-28 02:06] #1205 closed

[2020-01-28 02:18] laurenwalker commented on #1159
I improved the map identities message to be a bit more helpful. There is probably more work that could be done to make this super intuitive, but this is a quick improvement for now.

[2020-01-28 02:18] #1159 closed

[2020-01-28 02:21] laurenwalker commented on #1246
This bug may have been fixed already on the dev-2.9 since I recently fixed related bugs. @rushirajnenuji, I see that you self-assigned this issue. Just do a quick test to see if this bug still exists before spending too much time on this, because I think it's likely fixed already.

[2020-01-28 18:35] laurenwalker opened #1259 "Navigating back to portal from dataset page doesn't work"
Steps to reproduce:
1. Go to a portal data page directly. e.g. on test.arcticdata.io: `portals/dcbcbietu6hjkv6a/Data`
2. Click on the first dataset title
3. After the dataset landing page has finished loading, click the back button in the browser
4. Notice that the portal view renders only halfway - the dataset list doesn't show up (see screenshot)

![Screen Shot 2020-01-28 at 12.33.27 PM.png](htt

[2020-01-28 18:35] #1251 closed

[2020-01-28 18:37] laurenwalker commented on #1254
Thanks Rushiraj - Since this bug is not related to the features on the feature branches, can you merge that commit to the dev-2.9 branch?

[2020-01-28 18:48] laurenwalker commented on #1221
Here is what the new message looks like when the portal is not found, but there is an indexing queue:

![Screen Shot 2020-01-28 at 12 47 24 PM](https://user-images.githubusercontent.com/6643222/73294947-61502e80-41cc-11ea-9918-6d4d05500763.png)

Note that we can't verify that the portal object is one of those in the queue, but it is more helpful than "not found" message.

[2020-01-28 18:49] #1115 closed

[2020-01-28 19:24] laurenwalker opened #1260 "When metrics service calls fail, we need to display a message"
Right now just the loading spinners display forever

[2020-01-28 19:57] laurenwalker opened #1261 "Move MN repository profiles from the UserView to PortalView"
When the user navigates to /profile or /profile/node-id, we want to display the node "profile" using the new PortalView instead. There won't be a portal document associated with this portal.

- [x] The collection query should use `datasource:urn:node:{id}`

- [x] The UserView should construct a PortalModel using the info from the node info document, and the PortalView will use that populated model

[2020-01-29 17:33] #927 closed

[2020-01-29 18:44] rushirajnenuji commented on #1254
Hey Lauren - merged this commit to dev-2.9.

[2020-01-29 22:55] rushirajnenuji opened #1262 "The '/profile' view should show all the stats for the MN/repo"
- Applies to themes other than DataONE.

[2020-01-29 22:55] rushirajnenuji commented on #1262
Subtask of #1261

[2020-01-29 23:20] #1219 closed

[2020-01-29 23:47] laurenwalker commented on #1214
This looks good on the portal view. I looked at the citation list on the dataset landing page, and I can see the "Cites Data:" header, but no link to the dataset.

![Screen Shot 2020-01-29 at 5.44.53 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/2aa36d6a-e249-496c-98b1-bff4ee7a58ef)

[2020-01-29 23:48] #1254 closed

[2020-01-30 16:52] vchendrix opened #1263 "Switch East West Coordinates misplaces map location in Metadata View"
We had a use place bounding box coordinates in washington state but the metadata view put the map location as Kazakhstan.  After creating a test data set, I was able to put the map locator in the correct place by switchin the East West coordinates.

**Bad Pointer**
Our user created a data package with the following coordinates. This should have been in washington state.
<img width="1119" alt="Scre

[2020-01-30 18:35] laurenwalker commented on #1246
I tried to reproduce this and I believe this was fixe along with the other related bugs.

[2020-01-30 18:35] #1246 closed

[2020-01-30 20:33] #1259 closed

[2020-01-30 21:27] laurenwalker commented on #1170
This can already be done by adding the filter to the `defaultFilterGroups` attribute on the AppModel. It would look like this:

[code]

This only effects the DataCatalogWithFiltersView, thats used in the EditCollectionView. The main data search page (DataCatalogView) uses the old method of displaying filters via the `search.html` template. Those filters can be enabled/disabled by adding/removing t

[2020-01-30 21:27] #1170 closed

[2020-01-31 18:21] JEDamerow commented on #1180
Hi @laurenwalker , I don't see any change to the quality report view, and still find it cumbersome to navigate back and forth between the quality report and the dataset metadata.  Especially since there is no citation for dataset that quality report is referring to on that page.  Am I missing something?

[2020-01-31 21:04] laurenwalker commented on #1180
I forgot that this GH issue included the request to show the dataset citation at the top of the page. I'll reopen that so we can get that worked in. Thanks for the heads up.

[2020-02-03 13:46] yvanlebras opened #1264 "license info not "structured" on document page"
Hi NCEAS,

Testing data structuration of several data catalog pages (Geonetwork vs GBIF vs [our test Metacatui-based catalog](https://openstack-192-168-100-101.genouest.org/metacatui/view/urn:uuid:c60e3dda-ba58-4a2b-9395-4af83ca13b48)) through [Google data structuration test service](https://search.google.com/structured-data/testing-tool?), It detects that the license is not structured (seee warni

[2020-02-03 18:28] amoeba commented on #1264
Hey @yvanlebras, thanks for the report and the link to the result so I could check it out. This issue looks like a duplicate of #1076 and relates to #1147. We don't currently write license info into our JSON-LD due to architecture changes we need to make but it's on the list for sure.

[2020-02-03 18:36] gothub opened #1265 "Ensure that quality metrics display in portals for member nodes"
The member node profile view is being ported to the portal metrics tab. Currently the quality metrics are dependent on:
- a portal entry in Solr that is used by the offline quality metrics chart facility
- a collection id that is used in Stats.js (model) that is the key (with quality suite) to load the quality chart that is displayed in the portal view.

If these two items are not available in the

[2020-02-03 19:30] yvanlebras commented on #1264
Thank you very much for your fast and detailled message. Really sorry I don't see the duplication, you're totally right! If this is on the list, PERFECT!

You are so amazing NCEAS team.

Wishing you a happy week.

Yvan

[2020-02-04 18:00] gothub opened #1266 "Prov edit icons don't appear for certain datasets"
The prov icons don't appear for https://demo.nceas.ucsb.edu/view/urn:uuid:b6f64a43-c2ed-465c-b39f-eb4bac8b546b. MetacatUI 2.8.4 is installed on this machine. Here is the console msg:
<img width="1038" alt="Screen Shot 2020-02-04 at 9 27 36 AM" src="https://user-images.githubusercontent.com/6412946/73772519-23578b00-4735-11ea-8a13-00017d31d77a.png">

[2020-02-05 21:42] laurenwalker commented on #1234
We ran into this issue again, and determined that Safari 12 has issues with third-party cookies using the `SameSite=None` property. (See https://bugs.webkit.org/show_bug.cgi?id=198181). Although this should not have been an issue when this ticket was originally filed since we only starting using the `SameSite` property ~February 1, 2020.

We implemented a fix for Safari 12 users, but have still se

[2020-02-05 22:36] helbashandy opened #1267 "MetacatUI shows draft message after submission success"
After submitting a portal document, the success message show up with the view portal button.

Then after clicking the view portal, before the page redirects me to the portal view page I get the message: `Leave this page? All of your unsaved changes will be lost.` Although the portal was just submitted.

[2020-02-06 16:32] rushirajnenuji commented on #1214
Hey @laurenwalker  - just wondering if the links should be removed from the modals of the dataset landing page. (if so - my above commit fixes the issue)

Thoughts?

[2020-02-06 18:10] rushirajnenuji commented on #1262
Hi, @laurenwalker  - Deployed on handy-owl. Up for review.
Link: https://handy-owl.nceas.ucsb.edu/profile

As decided - displaying StatsView with updated Metrics charts / Citations List for /profile.

TODO: Will add flags in the app model to turn the metrics on / off for this profile.

[2020-02-06 18:49] laurenwalker commented on #799
Another user had this same experience of a disappearing Add Attribute button in Safari 12.

[2020-02-06 18:59] laurenwalker commented on #1216
I believe this same bug was experienced by another user on Safari 12 today. The editor seems to be adding a duplicate `otherEntity` node.

The EML draft for the user Dominic originally filed this ticket for: https://arcticdata.io/metacat/d1/mn/v2/object/urn:uuid:a3ba35ae-2729-4672-ac03-957ce5aa10d7

The EML draft for the user today: https://arcticdata.io/metacat/d1/mn/v2/object/urn:uuid:1564aec5-5

[2020-02-06 19:01] laurenwalker commented on #1264
Closing this issue since it is a duplicate of #1076

[2020-02-06 19:01] #1264 closed

[2020-02-06 19:03] laurenwalker commented on #1267
Thanks Hesham. We currently don't have a mechanism in the Portal Editor to check if there are any unsaved changes before displaying that message, like we do in the EML Editor. It should eventually be added to make that UX smoother.

[2020-02-06 19:05] laurenwalker commented on #1265
Hi @gothub - I see that you assigned this to 2.9.0, but I was under the impression from our discussion Monday that we are not going to implement this for 2.9.0. The MN profiles will just have the same charts they do now, plus the new aggregated metrics charts. Quality charts will be on portals only, for now.

[2020-02-10 17:37] gothub commented on #1266
@laurenwalker it might be best if you handled this one, as it deals with CitationView, and I don't think it is actually related to ProvChartView, but if you don't have time this week, I'll have a look at it.

[2020-02-10 18:20] laurenwalker opened #1268 "Citations in /profile loads forever"
To reproduce:
- Go to /profile, and see that the citations, views, and downloads display correcty
- Click on another MetacatUI link, such as to /data
- Click the browser back button to go back to /profile, and see that the views and downloads display correctly but after a significant wait time. And the citations just show a loading spinner forever.

[2020-02-10 18:27] laurenwalker opened #1269 "/profile view is sending invalid metadata quality requests"
When I look at /profile, I see error messages for the metadata quality charts, because there is no collection/portal object for that PortalView. We should detect when there is no collection/portal, and not send the AJAX request to get the metadata quality chart.

For example, the metadata quality chart URL is the following, for /profile:
https://docker-ucsb-4.dataone.org:30443/quality/scores/?coll

[2020-02-10 18:40] laurenwalker opened #1270 "Use the `nodeId` configured on the AppModel for the /profile StatsView"
The StatsView should use the `nodeId` set on the AppModel (this is a configuration that already exists and is used elsewhere in the app). We should not set the nodeId in the router.

[2020-02-12 19:12] jeanetteclark opened #1271 "Provide direct link downloads for non-private data"
partially transcribed/pieced together from a slack conversation with Chris and Lauren

We could probably make downloading large files via the download button faster by determining if an object is private first, and downloading the faster way if not. This would allow a user to see the download progress in your browser like you usually do for files.

Because you currently can't see the download prog

[2020-02-12 19:16] amoeba commented on #1271
This would be awesome, been on my wish list for years.

[2020-02-12 20:09] amoeba commented on #1271
Past discussion for reference: https://github.com/NCEAS/metacatui/issues/114

[2020-02-13 00:29] gothub opened #1272 "Attribute info not resizing correctly"
Here is a bug report from  @mpsaloha (Mark Schildhauer

Attached are 3 screen shots showing what I take to be a bug with the Web UI on both DataONE and the Arctic Data Center, which is that at "intermediate display widths"-- details about attributes are relocated below (rather than to the side) of the Attribute listing.  When the browser width is narrowed or widened, then the Attribute details are

[2020-02-13 01:29] amoeba commented on #1272
Thanks for writing this up @gothub and for the screenshots. This appears similar to the closed issue #916 and the open issue #1029. @laurenwalker wrote up a fix in dfd4808d4d17c6c5569e36fc7a5b4657c93e54c1 to close #916. It looks like the fix went in 2.8.4 which is deployed at both search.dataone.org and arcticdata.io.

I can take this and look into it.

[2020-02-13 01:35] amoeba commented on #1272
Okay, can confirm the bug exists on the dev-2.9 branch.

[2020-02-13 01:50] amoeba commented on #1272
I tried commenting out the above the change from dfd4808d4d17c6c5569e36fc7a5b4657c93e54c1 to see what the effect would be and the bug appears to go away. @gothub would you have a sec to confirm by checking the deployment at https://neutral-cat.nceas.ucsb.edu/view/doi:10.18739/A28S4JP53 when you get a chance?

[2020-02-13 18:01] gothub commented on #1272
@amoeba I tried the neutral-cat link and the resizing works correctly, thx!

[2020-02-13 19:24] #1013 closed

[2020-02-13 19:24] #1014 closed

[2020-02-13 19:26] amoeba commented on #1272
Thanks for checking, @gothub!

Hey @laurenwalker, while my change seems to fix things, it'd be undoing your dfd4808d4d17c6c5569e36fc7a5b4657c93e54c1. I don't want to undo anything you were trying to do with that change so could you take a second look here and see if you're okay with changing this back?

[2020-02-13 21:23] laurenwalker commented on #1271
This is causing immediate issues with downloads from search.dataone.org, since not all MNs support CORS. MNs should support CORS from search.dataone.org, but just in case they don't, MetacatUI should try it's best to download objects directly (rather than via XHR) instead of serving an error. Bumping this up to an immediate patch release.

[2020-02-13 21:24] #1121 closed

[2020-02-17 20:29] #1266 closed

[2020-02-17 21:40] #1271 closed

[2020-02-17 22:04] #522 closed

[2020-02-17 22:04] #1031 closed

[2020-02-18 21:05] csjx commented on #415
More comments and ideas from a Slack thread:

lauren  1:44 PM
The download via CORS issue is fixed… but no, the DataONE CN resolve service doesn’t seem to work like I would expect it to, since even though the connection to the replica server timed out, the resolve service doesn’t try to fetch the object from a different replica server
1:44
Maybe the other devs here know why that is
1:45
or how tha

[2020-02-19 01:33] helbashandy commented on #1168
Hi @laurenwalken - Is this regarding the identifier filter not working or is that a separate issue?

[2020-02-19 01:44] helbashandy opened #1274 ""Data files updated" plot doesn't show information when hovering"
Data Files Updated graph does not display any information associated with plot point (unlike the Metadata graph which will report the month, year, and number of files updated).

To replicate:
- Go to: https://data-stage.ess-dive.lbl.gov/portals/CDIAC/Metrics
- Hover with the cursor on the data points of the "data files updated" plot

Expected:
- Same hover behavior like the "metadata files updated

[2020-02-19 18:33] #1274 closed

[2020-02-19 18:48] laurenwalker commented on #1168
This particular issue is about the identifier filter in the PortalView only. The identifier filter in the regular data search page (e.g. /data) should be working correctly.

[2020-02-19 20:00] laurenwalker opened #1275 "Responsive/mobile layout for AccessPolicyView"
The AccessPolicyView is practically unusable at small window widths right now, so work on improving the layout

[2020-02-19 20:39] laurenwalker opened #1276 "Close modal after saving the access policy"

[2020-02-19 21:57] helbashandy commented on #1168
By PortalView only do you mean the portal editor as well in the data tab of a portal?

[2020-02-19 22:26] #1275 closed

[2020-02-19 22:27] laurenwalker opened #1277 "Add config option to disable the privacy toggle"

[2020-02-19 22:29] laurenwalker opened #1278 "AccessPolicy changes to portals need to affect images"
Right now the AccessPolicyView only changes the access policy of the portal document. These changes need to update the access policy of all the referenced images in the portal as well.

[2020-02-19 22:38] helbashandy opened #1279 "Portal filter integers only cannot be removed."
Try adding a filter with only numbers in the regular search. It cannot be removed from the list of applied filters.

[2020-02-19 22:58] laurenwalker opened #1280 "Add help text to AccessPolicyView"
Particularly for the access dropdown menu and the private/public toggle.

[2020-02-20 19:58] laurenwalker commented on #1168
Only the data tab of the portal, when viewing it outside of the editor. I'm not aware of any issues with the identifier filter in the PortalEditorView.

[2020-02-20 20:22] rushirajnenuji commented on #1269
Solved with the above commit : https://github.com/NCEAS/metacatui/commit/52e4f9d08ce316609d31d0850d1754e11aa5a46c

The flags are set as part of the AppModel per theme in the commit: https://github.com/NCEAS/metacatui/commit/71c853d286cf4f3d474d6568738acc863c57ed32

This issue seems complete.

[2020-02-20 20:23] rushirajnenuji commented on #1270
Updated the /profile view to utilize the AppModel settings. Relevant commit: https://github.com/NCEAS/metacatui/commit/71c853d286cf4f3d474d6568738acc863c57ed32

[2020-02-20 20:26] rushirajnenuji commented on #1268
The render function for citation and usage metrics was looking for the selector before the template was inserted in the DOM. The following commits solve this issue partly. - https://github.com/NCEAS/metacatui/commit/823018366bef6790b133774145dff25ad2b145a5 and https://github.com/NCEAS/metacatui/commit/d1957af5cefe8f8da4dc3b79e493f2f0a15853b2

[WIP] - Still seeing issues with the width of the metri

[2020-02-20 20:44] rushirajnenuji commented on #1270
Actually, on additional testing, I think this needs better error handling. When pointed to `handy-owl` Metacat MN - the `nodeId` is null.

Moving back to in progress.

[WIP] - error handling

[2020-02-26 19:24] vchendrix opened #1281 "Can't add group to a group in group editor"
I have never been able add a group to a group in MetacatUI

[2020-02-27 19:00] rushirajnenuji opened #1282 "Update solr query to filter out portal objects from /summary view"
If we visit `https://arcticdata.io/catalog` - we get the DataCatalog page which displays the total count of publicly available datasets. Right now the view shows `5787` total datasets. If we visit the `summary` view `https://arcticdata.io/catalog/profile` we have `5790` total datasets. After inspecting the `solr` queries, the difference in the totals seems to be from the three additional `portal`

[2020-02-27 19:26] laurenwalker commented on #1282
Ah, good catch

[2020-02-27 19:27] laurenwalker commented on #1281
I don't think I've ever tried to do this before. @csjx - Do you know if it's possible to have nested groups in LDAP?

[2020-02-27 19:29] vchendrix commented on #1281
I forgot to mention that you have to be careful when you try it.  I think I
broke all of the groups on stage when I tried to add a group to a group
+++++++++++++++++++++++++++++++++
Val Hendrix
vchendrix@lbl.gov
Lawrence Berkeley National Lab

Mail Stop: 50B-2239
Room:      50B-2258E
Phone:     (510) 495-2905
Pronouns: she/hers
+++++++++++++++++++++++++++++++++

On Thu, Feb 27, 2020 at 11:27 AM La

[2020-02-27 19:32] csjx commented on #1281
@laurenwalker - Yes, since group members are just `DN`s in LDAP, a group `DN` can be added as a group member.  I think we need to ensure that our client tools support this (which this ticket requests).  On the server side, we've already done work to expand embedded groups during authorization steps, so we just need to enable it on the client side.

[2020-02-27 19:34] laurenwalker commented on #1281
Okay, sounds good. I'm going to edit this ticket to include all the steps needed in the UI to support nested groups.

[2020-02-27 19:55] laurenwalker commented on #1214
Rushi and I discussed this ticket today and the only thing left to do is add the links to the metrics service response for the user and repository views. It is completed for the portals view only, right now. Rushi is going to create a ticket in the metrics service repo for that task.

[2020-02-27 19:55] #1214 closed

[2020-02-27 20:00] #1262 closed

[2020-02-27 20:02] #1260 closed

[2020-02-27 20:06] laurenwalker commented on #1269
Looks great, let's just set the `hideMetadataAssessment` attribute on the Stats Model and then have the `getAll()` function check the value of the attribute on the model, rather than send the `hideMetadataAssessment` value as a parameter to `getAll()`

[2020-02-27 20:08] #1270 closed

[2020-02-27 21:23] amoeba commented on #1272
FYI the `netural-cat` demo has been switched out so the above link isn't an accurate representation of my patch.

[2020-02-27 21:47] laurenwalker opened #1283 "Add ability to add keyword thesauri to a deployment"

[2020-02-28 20:37] #1230 closed

[2020-02-28 20:38] laurenwalker commented on #768
This is being replaced by a full-fledged Sharing Options view, as detailed in #1231

[2020-02-28 20:38] #768 closed

[2020-02-28 20:39] laurenwalker commented on #691
We discussed the need for this again today during our Arctic Data Center team meeting. It seems to only affect a few datasets a month, so it's not a high priority at this time, but would definitely be nice to have.

[2020-02-28 22:13] gothub commented on #849
Fixed in commit 1f239da1b2c1b5c4af58e821a8c8635ea0abd236 (branch dev-2.9)

This feature uses the config parameter displayDatasetQualityMetric, which is set to
'true' for themes: 'arctic', 'knb' and 'false' for themes: 'default', 'dataone'.

[2020-02-28 22:13] #849 closed

[2020-03-02 17:01] rushirajnenuji commented on #1269
Made the changes that Lauren suggested above in the commit linked to this ticket. This issue is not complete.

[2020-03-02 17:01] #1269 closed

[2020-03-02 17:07] rushirajnenuji opened #1284 "Offset witdth of chart element sets to 0"
To reproduce:

- Go to /profile, and see that the citations, views, and downloads display correctly
- Click on another MetacatUI link, such as to /data
- Click the browser back button to go back to /profile, and see that the width of the metrics chart is set to the default width.

Noticed this while working on #1268

[2020-03-02 17:10] rushirajnenuji commented on #1268
The original bug linked with this ticket has been solved. For additional enhancements, I've opened a new ticket to work on. The charts and citation lists are rendering correctly (on reload, back/forward button click events, etc).

[2020-03-02 17:10] #1268 closed

[2020-03-02 19:08] rushirajnenuji opened #1285 "Fix placement of tooltips for interactive metrics charts"
Placement of tooltips for interactive metrics charts needs fixing.

[2020-03-02 21:18] rushirajnenuji commented on #1282
Hi @laurenwalker  - the way we’ve done this for a DC view is to set a filter object to exclude these `formatIds` on the `searchModel`. But for the `/profile` view, we do not have a `searchModel`, we directly generate queries in StatsModel. So, I’ve appended these filters to those queries. I’ve verified the numbers and they look okay, but I was wondering if this approach sounds correct.

It would b

[2020-03-02 22:45] amoeba commented on #1282
Nice catch and debugging, @rushirajnenuji. I'm not overly-familiar with how we're exposing portals to users but I'm wondering if we may also want to set up our Solr instances to hide Portal objects by default from all searches so explicit filtering isn't necessary?

[2020-03-02 23:12] amoeba commented on #943
Closing since this was shipped, see #1055.

[2020-03-02 23:12] #943 closed

[2020-03-02 23:14] amoeba commented on #781
Just (belatedly) circling back on this. Since this issue was created and last updated, Google has made some sort of changes to their crawler so they see our JSON-LD fine now so this can be closed.

[2020-03-02 23:14] #781 closed

[2020-03-03 07:32] yvanlebras commented on #781
Amazing!

Testing Google web page structuration tool several weeks ago, it appears it doesn't recognize the licence part of metacatui data pages. Moreover I was trying to look at Google data search how to add metacatui based website.... But don't find the way to do that. DataOne doesn't seem to be on it isn't it ?

[2020-03-03 17:53] rushirajnenuji commented on #1282
Hey @amoeba  - thank you for taking a look at this. Interesting to know that we can hide a specific type of object from searches. We might have more than one use case, but one I can think of is the `collectionQuery` attribute that @gothub got indexed within `solr` for Portal objects.  Both our DataONE services depend on this query attribute to generate aggregated metrics.

[Example: query](https:/

[2020-03-03 18:51] laurenwalker opened #1286 "Issues when metadata is obsoleted by metadata on another MN"
When a science metadata doc is obsoleted by a science metadata doc on another member node, we should still display the "newer version" link, which should link to the metadata on the search.dataone.org site.

Example dataset: https://dev.nceas.ucsb.edu/view/urn:uuid:ac6d0ce9-630a-49f1-8095-8bd993f6805f

[2020-03-03 19:32] amoeba commented on #781
Hey @yvanlebras, the licensing issue is something that we are aware of and working on over on https://github.com/NCEAS/metacatui/issues/1076.

[2020-03-04 06:38] yvanlebras commented on #1037
Hi NCEAS. We were searching why we don't have "direct edit access" on our test metacat instance and with this issue I understand that this is because we uploaded EML 2.2 docs... So your advice can be to change it to 2.1.1 to have the possibility to edit it directly from the web, then ~this summer, after updating metacatui all docs will be automatically converted to 2.2 with the same edit possibili

[2020-03-05 16:41] laurenwalker commented on #1282
@rushirajnenuji - That commit looks good to me. Thanks!

[2020-03-05 16:49] laurenwalker commented on #1037
Hi @yvanlebras  - Yes, only EML 2.2.0 docs are supported in the MetacatUI editor right now.

Yes, in the next few months we will be updating MetacatUI so EML 2.2.0 docs can be edited, and all EML 2.1.1 docs will be automatically upgraded to EML 2.2.0 when/if they are edited in MetacatUI.

[2020-03-05 16:50] laurenwalker opened #1287 "Add title to Metadata Assessment charts"
Title should be "FAIR Assessment"

[2020-03-05 16:51] laurenwalker opened #1288 "Add explanation of the metadata assessment charts"
In the StatsView

@mbjones  - Could you help with the wording on this?

[2020-03-05 16:53] laurenwalker opened #1289 "Link to the FAIR page on the new DataONE site"
In the explanation text for the metadata assessment chart in the StatsView

[2020-03-05 16:56] laurenwalker opened #1290 "Add icons next to each header in the StatsView"

[2020-03-05 16:58] laurenwalker opened #1291 "Remove scrolling in bar charts"
It interferes with scrolling on the page

[2020-03-05 16:59] laurenwalker opened #1292 "Improvements to Citations display"
- [x] Improve explanation text to Citations display in StatsView - Explain that the citations are of datasets in the portal.
- [x] Display "Cites Data" on a new line
- [x] Add row background color to every citation row so the bg of the div isn’t shown
- [x] Citation text is light gray but should match the darker gray/black on rest of the page
- [x] Fix extra negative space below short citation lis

[2020-03-05 17:01] rushirajnenuji commented on #1282
Thank you, Lauren. I'm closing this issue.

[2020-03-05 17:01] #1282 closed

[2020-03-05 17:04] laurenwalker commented on #902
We should also support capture of citations in the citations lists that are retrieved from the metrics service. They are on dataset landing pages, the /profile Summary page, and all portals.

[2020-03-05 17:05] yvanlebras commented on #1037
Thank you for your answer.Just to be sure, "Yes, only EML 2.2.0 docs are supported in the MetacatUI editor right now." -> "Yes, only EML 2.1.1 docs are supported in the MetacatUI editor right now." Isn't it ?
Wishing you a very good end of week
Le 5 mars 2020 17:49, Lauren Walker <notifications@github.com> a écrit :

Hi @yvanlebras  - Yes, only EML 2.2.0 docs are supported in the MetacatUI editor

[2020-03-05 17:08] laurenwalker opened #1293 "Center-justify metadata assessment chart"

[2020-03-05 17:09] laurenwalker opened #1294 "At large window widths, show text next to charts in StatsView"
Right now the text will display on one line above the chart, but we should use a column layout instead.

Maybe also be good to set a max-width on the StatsView.

[2020-03-05 17:11] laurenwalker opened #1295 "Updates charts overlap at smaller widths"
They should move to a vertical display sooner

[2020-03-05 17:13] laurenwalker opened #1296 "Add more file format short names"
e.g. EML 2.2.0 is still displayed as the full namespace URI

[2020-03-05 17:14] laurenwalker opened #1297 "Summary donut charts should be smaller"
The number of datasets and total file sizes should be smaller. They are too big for the amount of information they convey.

[2020-03-05 17:17] laurenwalker opened #1298 "Add way to download the download and view stats"
For each download and view chart, add a download button that downlods a tabular file of the monthly counts.

[2020-03-05 17:17] laurenwalker opened #1299 "Move AccessPolicyView to settings tab"

[2020-03-05 17:20] laurenwalker commented on #211
This feature should be added to all people lookups, including in the AccessRuleView used in the Share feature in the portal and dataset editors.

[2020-03-05 17:20] laurenwalker commented on #1243
Duplicate of #211

[2020-03-05 17:46] laurenwalker commented on #1037
Oops, yes, I meant to say only EML 2.1.1 docs are supported in the MetacatUI editor right now.

[2020-03-05 17:47] #1277 closed

[2020-03-05 18:30] yvanlebras commented on #1037
;)
Le 5 mars 2020 18:46, Lauren Walker <notifications@github.com> a écrit :

Oops, yes, I meant to say only EML 2.1.1 docs are supported in the MetacatUI editor right now.

--
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub:
https://github.com/NCEAS/metacatui/issues/1037#issuecomment-595359109

[2020-03-05 20:17] amoeba commented on #902
Hey @laurenwalker, I've built a proof-of-concept for this but we haven't decided to go that route yet. Would have to ask @mbjones and @datadavev I think.

[2020-03-05 20:38] datadavev commented on #973
Would be great if the citation data were provided in json and rendered by applying a preferred CSL, for which JS libraries are available, e.g. https://citation.js.org/

May be more generalized that what you're looking for though.

[2020-03-05 23:03] mbjones commented on #973
Thanks, Dave.  In reading that, I see they also provide a Showdown plugin, which might work with our Markdown implementation: https://github.com/citation-js/integration-showdown

[2020-03-06 19:32] rushirajnenuji commented on #1298
Related #767

[2020-03-07 01:04] mbjones commented on #1298
It would be good if this downloads the data that the chart currently is viewing, such as a restricted time window.

[2020-03-07 01:10] mbjones commented on #653
@amoeba This need to be able to replace data files still a high priority issue that arises pretty much weekly. The most recent feedback came from an Arctic Data Center user today:

See: https://support.nceas.ucsb.edu/rt/Ticket/Display.html?id=18566

[2020-03-07 02:17] #1280 closed

[2020-03-07 03:31] laurenwalker commented on #1287
For now I just added a title to the chart by adding HTML to the `profile.html` template. But this only works because we are only showing a single metadata assessment suite. I looked at the code in the StatsModel that gets the chart image, and it only supports one suite right now. For example, it gets the suites from the AppModel but always defaults to the first suite in the array. This code should

[2020-03-07 03:31] #1287 closed

[2020-03-10 19:38] amoeba commented on #1242
I took a look at this last Friday. I started trying to merge the latest dev branch onto `feature-emergency-drafts` branch @csjx had been working on and didn't have any luck. I tried about 4/5 times until I thought I had a good understanding of the right merges to make but ended up with a broken editor (dead submit button, endless loading spinner).

I did manage to get metadata draft saving working

[2020-03-10 19:39] amoeba commented on #216
Working on this now, updating over on #1242.

[2020-03-10 20:05] gothub commented on #1258
The obsolete code has been removed from the `dev-2.9` branch, commit b05fb0fed1c1fcee4cfb4727ece74a7736cfcdac

[2020-03-10 20:05] #1258 closed

[2020-03-10 23:15] amoeba commented on #1242
I talked with @csjx about my difficulties with the merge and also about my basic MVP implementation on branch `localstorage`. I updated my implementation to also save drafts of any OREs to match the previous implementation in `feature-emergency-drafts`. We agreed to touch base on this this week on our dv call as a group in order to decide whether to ship my alternative implementation now and if it

[2020-03-11 17:24] #1299 closed

[2020-03-11 17:51] #1285 closed

[2020-03-11 19:16] laurenwalker opened #1300 "Disable editing of portals that are beyond the quota/expired"
When a portal is tied to a DataONE Plus account that has expired, or the portal is not included as a valid usage of the portals quota, we need to disable editing of that portal object in MetacatUI. (Disable the button and show a message in the editor).

[2020-03-11 19:35] laurenwalker opened #1301 "Create portal documents for the DataONE Member Nodes that are part of DataONE Plus"
This isn't exactly a MetacatUI coding task, but we need to create portal XML docs for the following member nodes, so that their profiles/portals show Plus features (aggregated usage metrics, aggregated quality scores, etc.). We may also want to renavigate the /profile/{mn-id} to /portals/{mn-id}.

- [ ] KNB
- [ ] ADC
- [ ] ESS-DIVE
- [ ] DataONE CN
- [ ] Dangermond
- [ ] OPC

[2020-03-11 20:40] laurenwalker opened #1302 "Add portal pages to the Metacat/UI sitemap"
All portal objects in Metacat need to be added to the sitemap with the portal MetacatUI route (e.g. /portals/{label}). The route for portals can be configured differently for each MetacatUI instance. (e.g. ESS-DIVE may be using /projects instead of /portals), so the sitemap should reflect this. That may require a new Metacat config.

We will also have portals stored in a DataONE replica MN, so we

[2020-03-11 23:22] amoeba commented on #1302
Hey @laurenwalker, thanks for writing this up. I've filed a companion issue over on https://github.com/NCEAS/metacat/issues/1432 so we can coordinate changes in both repos. I put a some detail in issue.

[2020-03-12 18:34] jeanetteclark opened #1303 "editor cannot handle datasets containing spatialVector"
When editing a valid document that had a spatialVector element, I got the following error after editing some entity descriptions:

I'm guessing this is a typo somewhere, note the non-camelcased "spatialreference"

[2020-03-12 19:00] csjx commented on #1303
Yes, because we parse the tree as HTML and not XML, we have a mapping from camel case to lowercase (for parsing, and vice versa for serializing.  I bet we just need to add this to the mapping, but would need to look.

[2020-03-13 01:30] laurenwalker opened #1304 "Add app config for hiding the aggregated metadata assessment charts"
There is not a config option right now to hide the aggregated metadata assessment charts. It's already built into the StatsView, but there's no way to control it from the AppModel. This needs to be added for the next release.

[2020-03-13 01:54] amoeba commented on #1242
Almost done here. Got some great feedback today on our dev call to make things a lot more usable. The drafts are now listed in a table with a download button and older drafts are cleared out when saving new ones.

<img width="1260" alt="Screen Shot 2020-03-12 at 5 41 53 PM" src="https://user-images.githubusercontent.com/563/76582163-54408380-648a-11ea-8179-dc57c20bdca1.png">

I still need to re-te

[2020-03-13 21:44] amoeba commented on #504
Huh. I ran into this issue today and, when I went to look into it, it magically fixed itself.

[2020-03-13 21:45] amoeba commented on #1242
Per @laurenwalker: Added a Download All button, made the Date Created column human-readable, and tweaked the top level header text.

Ran into some unrelated-seeming errors while testing for IE. I'm going to file an issue for those and look into them first.

[2020-03-16 22:01] laurenwalker opened #1305 "Large bounding boxes are not visible in the static map images"
The images need to be zoomed out more so the bounding box is visible. The view needs to find the bounding box size and determine a zoom level based on that size.

Example: https://arcticdata.io/catalog/view/urn:uuid:01eee2bc-cc3c-42e8-8624-b5a363f447aa

[2020-03-17 19:49] amoeba commented on #1242
No luck on the IE issues preventing testing of this yet. Coordinating with @laurenwalker to get a sense of whether it's my setup or something we generally need to address.

TODOS remaining:

- [ ] Test on IE (blocked by other IE issues)
- [ ] Merge into `dev-2.10`

[2020-03-17 19:49] amoeba commented on #653
I'm blocked on https://github.com/NCEAS/metacatui/issues/1242 though it's nearly done and I'd like to take a crack at this now.

[2020-03-17 19:58] amoeba commented on #1242
Just chatted with @laurenwalker on Slack and she asked I go ahead and merge (Done) and we'll hammer out the IE11 stuff soon but after the merge.

[2020-03-17 19:58] laurenwalker opened #1306 "Don't add duplicates to the access policy"
The AccessPolicyView and collection should check for duplicate people or groups added, and skip them and display a warning message

[2020-03-17 19:59] laurenwalker opened #1307 "Hide people/groups from autocomplete that are already in the AccessPolicy"

[2020-03-17 20:23] laurenwalker commented on #1292
Hi @rushirajnenuji - I see this ticket is slated for tthe 2.10.0 release. I'm hoping to get that tagged bby the end of this week. Do you think this will be completed by then or should we move to 2.11.0?

[2020-03-17 20:40] rushirajnenuji commented on #1292
Hey @laurenwalker  - I think I'll be able to get this done by the Thursday. I'll let you know when completed.

[2020-03-17 23:55] gothub commented on #1304
@laurenwalker I think the following line is in the wrong place, but am not sure where it should be placed in StatsView.js:

    https://github.com/NCEAS/metacatui/blob/dev-2.10/src/js/views/StatsView.js#L66

Should this just be outside the `if ( options.nodeSummaryView ) {` block?

[2020-03-18 01:10] amoeba commented on #504
I was able to reproduce this finally. I can't say if this was @vlraymond 's issue but it produced the same result: The login flow appears to succeed but I end up where I came from _not_ logged in.

What I saw was that the XHR request MetacatUI sends to the CN `/portal/token` endpoint was not sending a cookie (which it needs to) while visiting the `/portal/token` endpoint directly _did_. I then saw

[2020-03-18 01:29] amoeba opened #1308 "Considering deprecating IE11 support for all or part of MetacatUI"
_We had a short discussion about this on Slack today and I wanted to make an Issue for visibility's sake and continue discussion if needed._

While testing Drafts (#216, #1242, #1228) under IE11, I ran into a good number of JS errors under IE11, some behavior-breaking. The errors are various, from syntax errors, to syntax not supported, to missing JS API features other browsers have.

From a conve

[2020-03-19 17:24] gothub commented on #1304
Fixed in commit 97f0b883973ad9beb0151aa69ad9ea4c17cb788f

Note: when the app config param `hideMetadataAssessment = true`, the chart displays for both profile view (i.e. url=".../profile") and portal view (i.e. url=".../portals/<portal name>/metrics".

[2020-03-19 17:24] #1304 closed

[2020-03-19 20:58] laurenwalker commented on #1308
For 2.10.0, I think we can start displaying a warning for IE11 and earlier on _every page_. (There might be issues beyond the editor).
I'll take a look at the error messages in IE11 and make sure it's not something that can be fixed really quickly. But I don't think we should delay the release of 2.10.0 for any of those compatibility issues.
So in general, I support deprecating support for IE11 an

[2020-03-19 20:59] #1242 closed

[2020-03-19 20:59] #216 closed

[2020-03-19 21:02] laurenwalker opened #1309 "Add icon next to every DataONE Plus feature"
Add an option for hiding these icons everywhere, which most hosted repositories will probably want to do.

The icon could be the DataONE Plus icon or some variation of it. (The world with a + on it).

[2020-03-19 21:05] laurenwalker opened #1310 "Add DataONE Plus "ad" to the header of DataONE theme"
The DataONE theme should display an "ad" for the DataONE Plus and hosted repo services in the header of MetacatUI. This could be something subtle. It should link to the DataONE Plus or hosted repo or signup page.
We may only want to show it on certain pages, like the profiles and dataset pages.

Possibly several mockups should be designed to see what this ad would look like, both in style and plac

[2020-03-19 21:07] laurenwalker opened #1311 "Add cache-control header with token request"

[2020-03-19 21:32] laurenwalker commented on #1304
The changes you made to the Stats.js model are incorrect, in that the model should check the `hideSummaryMetadataAssessment` attribute on the Stats model, as well as the AppModel. With your change, it just checks the AppModel. This breaks the functionality of user and group profiles, because not the metadata assessment charts are displayed when `hideSummaryMetadataAssessment=true` on the AppModel.

[2020-03-19 22:18] laurenwalker opened #1312 "When an object has been saved since the initial page load, display a message"
When someone else has updated an EML doc or portal that the current user has open, they should see a message that it has changes from someone else. There should be two options to click - one will override the unsaved changes the user just made, the other will override the changes from the other user.

Better merging ability should be added as a second phase to this.

[2020-03-20 00:09] amoeba commented on #1308
Sounds good, I'll let you have a go at that.

[2020-03-20 02:04] amoeba opened #1313 "Can't submit dataset after adding a file"
After adding a file to a package, I see no change after clicking "Submit Dataset". i.e., I can't submit my edit

Steps to reproduce:

1. Create a minimal package w/ no files, setting title, abstract, temporal and geo coverage.
2. Submit it
3. On the landing page, hit Edit
4. Add a file
5. Observe "Submit Dataset" pops up
6. Try to click "Submit Dataset", observe nothing happens

Reproduced on dev-

[2020-03-20 02:15] amoeba commented on #1313
Odd, the Describe button also ends up broken. Still tinkering away on this before I get to #653.

[2020-03-20 16:41] laurenwalker commented on #504
Related to #1311

[2020-03-20 17:36] laurenwalker opened #1314 "Resource map never submits"
See: https://support.nceas.ucsb.edu/rt/Ticket/Display.html?id=19866

it looks like her EML and data files submitted successfully, but not the resource maps. I would guess that this is an unidentified bug in MetacatUI.
There are no save errors logged in Google Analytics, so the resource maps didn’t even get to the point of saving to Metacat. There may be an issue with serializing the RDF XML, or so

[2020-03-20 18:52] laurenwalker opened #1315 ""Loading editor" message forever"
One of our users experienced this bug while trying to load the editor. Here's a screenshot:

![Screen Shot 2020-03-20 at 1 45 38 PM](https://user-images.githubusercontent.com/6643222/77196371-3c33ba00-6ab1-11ea-8e87-2814662ca022.png)

This is in FF on Windows 10

[2020-03-20 19:45] laurenwalker opened #1316 "Add image uploader to the markdown sections"
Add easy way for people to upload an image and include it in the Markdown.

[2020-03-20 19:55] robyngit commented on #1309
There's a mockup of how this might look available [here](https://robyn437774.invisionapp.com/console/DataONE-Website-Redesign-2019-ck3g5wyvd0ot401aeho8jjoyx/ck80l7d1703t401xza069lzvk/play)

[2020-03-20 19:55] robyngit commented on #1310
The mockups related to this are available [here](https://robyn437774.invisionapp.com/console/DataONE-Website-Redesign-2019-ck3g5wyvd0ot401aeho8jjoyx/ck80l7d1703t401xza069lzvk/play)

[2020-03-23 15:46] gothub commented on #1304
@laurenwalker thanks for catching this & for the explanation -  I see now that StatsView has to be able to conditionally control the Stats model by passing the `hideMetadataAssessment` to it, potentially overriding the AppModel setting.

[2020-03-23 22:44] #1314 closed

[2020-03-23 22:50] laurenwalker commented on #1313
I encountered this bug while fixing another bug, and quickly figured out the issue so I went ahead and fixed it. Thanks for looking into it anyway Bryce!

[2020-03-23 22:50] #1313 closed

[2020-03-23 23:10] #1311 closed

[2020-03-23 23:12] laurenwalker commented on #504
I think this issue may have been solved in #1311, although I haven't been able to reproduce the bug in my Windows machine, so I can't test for sure. We've decided to deprecate support for IE 11 anyway, so I will close this issue.

[2020-03-23 23:12] #504 closed

[2020-03-23 23:21] amoeba commented on #1313
Great, thanks!

[2020-03-25 19:21] laurenwalker opened #1317 "Show warning to Safari 13.1 users about login"
Until we have a more permanent fix or workaround, login will not work for MetacatUI users on Safari 13.1, so we should display a message about enabling third-party cookies. This should be a temporary measure until we have an actual fix

[2020-03-25 22:19] #1317 closed

[2020-03-26 15:33] csjx commented on #1283
This is a duplicate of #306 it seems.

[2020-03-26 15:37] vchendrix commented on #1314
@laurenwalker We may have had a similar issue this week and I am trying to figure our if it is the same bug.  Below is the detail from our user and our research into the bug.  Our work around was to create the missing resource map.

**from our user**
[code]

**Our research**
It looks like one of the resource maps way back in the history was corrupted.  When I tried to reindex the resource map, I g

[2020-03-26 15:57] rushirajnenuji commented on #1292
Completed this with few styling changes in the linked commit https://github.com/NCEAS/metacatui/commit/b56de9d51a1e8134f57b47b0fc7a01bb46e22d3c

[2020-03-26 15:57] #1292 closed

[2020-03-26 16:16] laurenwalker commented on #1314
@vchendrix  - Hmm, I'm not sure if what you've described is the same bug. The user's description of the "spinning" and missing data files (broken resource map) sound similar. But the faulty resource map you've shared is not a behavior of this bug.
It also  doesn't look like it was created in MetacatUI? If it was, then a missing resource map identifier statement is definitely a problem. That would

[2020-03-26 16:18] laurenwalker commented on #1283
I think it's different in that this ticket is for creating a keyword thesaurus in the MetacatUI configuration, and #306 is for a user to specify an additional thesaurus through the editor UI.

[2020-03-26 16:50] #1293 closed

[2020-03-26 17:09] vchendrix opened #1318 "Invalid Resource Map created by Metadata Editor"
We had an issue this week where our user somehow created a corrupted resource map via the metadata editor.  This resulted in them "losing" the data files they uploaded.  The data files were listed in the EML but since the resource map could not be indexed the files were missing to the user.

Our solution was to create the missing resource map but we still don't understand how this could have happe

[2020-03-26 17:31] rushirajnenuji commented on #1290
Hey @laurenwalker  - keeping this ticket in the review column because I'm not sure if I've used the right icons.
These are the changes that I've made:
- Metadata Assessment: icon-dashboard
- Latest Updates: icon-refresh
- File formats: icon-file

Also, I've removed some extra padding to make sure that the section headers align with each other. It would be great if you could let me know whether thi

[2020-03-26 18:33] rushirajnenuji commented on #1291
Disabled the wheel-driven zooming in bar charts in the above commit.

[2020-03-26 18:33] #1291 closed

[2020-03-26 19:32] rushirajnenuji commented on #1296
Hi @laurenwalker  - We were seeing issues because 2.1.1 and 2.2.0 have different format of namespace URIs for different versions of EML. i.e. for v2.1.1 the URI is `eml://ecoinformatics.org/eml-2.1.1` while for v2.2.0 it is `https://eml.ecoinformatics.org/eml-2.2.0`.

I've updated the checks for `2.2.0`, but I was wondering if we need to consider additional short names for other formats? I see a f

[2020-03-26 19:39] rushirajnenuji commented on #1257
I cannot reproduce this error. Removing this from the 2.11.0 milestone.

[2020-03-26 19:58] #1308 closed

[2020-03-26 23:21] amoeba commented on #653
I got this working earlier this week and we discussed the direction on our dev call today. We decided to make some tweaks to my implementation:

- Replacing a file obsoletes the replaced file by default, w/o a way for the user to change the behavior
- When replaced, the new file won't be immediately uploaded like we do for brand new files to avoid the situation where the user replaces a file but d

[2020-03-27 02:44] amoeba commented on #653
I just spent a few hours trying to find the right state to put the new `DataONEObject` into such that the request will be the appropriate `PUT` with the right settings and haven't quite ironed it out between modifying the `url` and `save` methods. I'm guessing I'm pretty close. I ran into one bug in the `url` method which I'll fix at the same time here.

[2020-03-31 01:21] #1303 closed

[2020-03-31 02:16] amoeba commented on #653
Figured out my issues from last week and have replacing working again, as we talked about making it work. Ran into another issue: The editor does everything right until it tries to replace the item again and fails by issuing an invalid `getSystemMetadata` and `updateSystemMetadata` call and breaks the ORE. I think the model is just getting saved multiple times which is wrong which sounds like a st

[2020-03-31 03:31] laurenwalker opened #1320 ""Copy" button for user token doesn't work"
In the user settings, the Copy button for the token doesn't work. The "Copy citation" button on the MetadataView does work, so it's something isolated to the UserView.

[2020-03-31 03:31] #1283 closed

[2020-03-31 16:16] laurenwalker commented on #1292
When can this be merged into a dev branch?

I see you committed this to the feature-portals-agu-demo branch, but I'm having trouble keeping track of what is on that branch and if it is ready to be merged into a dev branch yet. I am about to tag 2.10.0, so I'll move this to 2.11.0. Please merge into dev-2.11.0 when it's ready.

[2020-03-31 16:31] laurenwalker commented on #1296
Hi @rushirajnenuji, thanks for fixing this issue. Yes, let's go ahead and add short names to as many metadata formats as possible. (At least the ones that display on the DataONE profile at search.dataone.org/profile).

Since this isn't a feature release, but is just a minor fix, things like this can be committed directly to the dev branch.

[2020-03-31 16:35] laurenwalker commented on #1290
Sounds great! Let's just change the latest update icon to icon-cloud-upload, which is the opposite of the download icon, so I think it fits better.

Thanks!

[2020-03-31 18:35] laurenwalker opened #1321 "Add local emergency drafts for portals"
Save local emergency drafts for the Portal Editor

Related to #216

[2020-03-31 21:17] gothub opened #1322 "Improvements to metadata assessment chart"
For the quality assessment pane on the portal metrics tab:

- for wider screens, have text float left
- center image on the page
- add icon, as all other panes have them

(These items were mentioned in the dev meeting 3/19)

[2020-03-31 21:40] laurenwalker commented on #1322
I believe Rushi has fixed these already, in the feature-portals-agu-demo branch:

[2020-04-01 01:54] amoeba commented on #653
Okay, it looks like I got it. Ended up finding two things that look like bugs in `DataONEObject::url` and found I needed to set `sysMetaUploadStatus` to `c` on the new Object before saving to to avoid an incorrect `updateSystemMetadata` call after the `MNStorage.update()` call. I'm going to test a few more test cases tomorrow.

[2020-04-01 08:42] yvanlebras opened #1323 "Linking keywordset / thesauri to eml-semantics ?"
Hi amazing NCEAS tream !

Looking at the last release, I am thinking about the relevance to ""connect"" keywordset / thesauri to eml-semantics module so we can use the same thesauri "repository" for both "taging" wide document + others metadata fine information ? Sorry if not relevant, thank you for your work !!!

https://github.com/NCEAS/metacatui/blob/0eddbf197708ddff08396a06e7db0ae93eb7a3a5/src

[2020-04-01 21:53] mbjones commented on #1323
For now we only display semantic tags from EML 2.2.0, and don't currently have an ability to edit them in MetacatUI.  But we'd like to get there as soon as possible. When we do, we should definitely harmonize the dataset-level annotations with the dataset-level keywords and thesaurus.  Thanks for the suggestion.

[2020-04-02 21:17] laurenwalker commented on #1097
EML versions before 2.1.1 also need to be automatically converted to EML 2.2.0. That should be complicated at/around the same time as this issue, but should have its own issue. I'll create one.

[2020-04-02 21:18] laurenwalker opened #1324 "EML 2.0.X should be upgraded to EML 2.2.0"
Related to #1097

[2020-04-02 21:40] taojing2002 commented on #1324
Three xsl files (eml201to210.xsl, eml201to211.xsl and eml210to211.xsl) can be found at this link:
https://github.com/NCEAS/eml/tree/RELEASE_EML_UTILS_1_1_2/style

[2020-04-04 03:54] amoeba commented on #83
Hey all, I was chatting with @mpsaloha and realized this still hasn't been done so I put together a simple change that provides support for it in https://github.com/NCEAS/metacatui/commit/23aa403399032953e54f9462d4cd2e3bf9ce63d9. Is there still interest in this?

See the commit message itself for detail on how I did it.

[2020-04-06 21:34] amoeba opened #1325 "PROV editor hangs and produces spurious calls to `updateSystemMetadata`"
I was doing testing for something else and ran into this:

Steps:

1. Create a new package with the Editor with the bare-bones metadata required and add two files (A, B)
2. After creating, navigate to the landing page
3. Add a relationship such as A is an input to B
4. Click Submit when it shows up

You'll see Submit change to "Saving..." and stay there indefinitely. In your Network console you'll

[2020-04-06 22:13] gothub commented on #1325
@laurenwalker could you have a look at this? If only prov is being updated, no models are updated, just the resource map. Does the DataPackage.saveProv() function need to mark all package models so that they don't get updated, according to this recent update: https://github.com/NCEAS/metacatui/blame/0eddbf197708ddff08396a06e7db0ae93eb7a3a5/src/js/collections/DataPackage.js#L1110-L1115

[2020-04-09 17:58] gothub opened #1326 "Prov editor doesn't check for unsupported metadata formats"
For the dataset https://arcticdata.io/catalog/view/doi:10.18739/A2251FK3B, the 'Edit' button is grayed out with the rollover msg "This metadata format is not editable". This metadata is EML 2.2.0.

However, for this dataset, then prov icons are displayed. The prov portion of the editor needs to perform the same checks as are being performed for the 'Edit' button and not display if the metadata is

[2020-04-09 18:13] laurenwalker commented on #1326
HI @gothub - I posted this on Slack, but I'll copy to here to, for future reference. I don't think this is an issue. The prov editor should work with any metadata format, since it just updated the resource map.

I'm going to close this issue unless you see a flaw in my reasoning. Let me know. Thanks!

[2020-04-09 18:13] #1326 closed

[2020-04-09 22:02] gothub commented on #1326
I haven't tested this yet, but @jeanetteclark reported that when she tried to use the prov editor with the above dataset, MetacatUI froze. This may be related to #1325.

[2020-04-10 15:42] laurenwalker commented on #1326
Yep, I think the bug Jeanette experienced is #1325, which I'm currently working on. I don't think it has anything to do with the specific issue raised in this ticket though (about metadata formats). Thanks!

[2020-04-10 18:35] laurenwalker opened #1327 "Make Sign In button smaller in minimal/portal nav"
The Sign In button in the minimal nav used on portals is still a bit too big, making the nav bar taller than ideal. The Sign In button should be smaller, like we do for the Edit Portal button:

![Screen Shot 2020-04-10 at 1.33.14 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/e840c174-2928-424a-bd20-6578101530b0)

![Screen Shot 2020-04-10 at 1.32.35 PM.png](https://images.ze

[2020-04-10 21:23] laurenwalker opened #1328 "Add core trust seal logo to the arctic theme"
Add to footer and to under filters on /data page

[2020-04-10 23:25] laurenwalker commented on #653
Hi Bryce - I just tested the Replace feature fairly extensively in Chrome and it works great! I'm excited to get this into the next release. Here are two things that I would suggest changing before we merge into a dev branch:

- [ ] When I replaced a .csv file with an .R file, the formatId in the system metadata didn't change (it remained text/csv). Can we update the formatId in the sys meta on up

[2020-04-13 17:09] amoeba commented on #653
Right on, thanks for taking a look at it @laurenwalker. Those suggestions sound smart and I'll do those today. When I add the better visual indication when replacing a file, I'll see how your idea feels and iterate from there, I think.

Re: the branch naming thing, are you okay if I break the "don't delete branches" policy here to get the name right?

[2020-04-13 19:35] amoeba commented on #653
Okay, I changed things so the formatID is guessed again from the file type and did my best at implementing your suggestion of visual feedback.

![Kapture 2020-04-13 at 11 34 08](https://user-images.githubusercontent.com/563/79153682-b555c280-7d7a-11ea-80f6-a73dbce7e833.gif)

I went with "Ok!" because "Replaced" doesn't fit and I didn't wanna make any bigger change to the layout. I don't love it be

[2020-04-13 19:56] amoeba commented on #653
One remaining thing I'm stuck on and considering passing on is updating the `id` attribute for the associated EML entity in the EML XML. Right now, the old `id` value is retained which is good when the entity has a semantic-ish entity id like "mydata" because it should probably stay the same but bad when the id is autogenerated from the `PID` for the DataONE Object associated with the entity.

Bec

[2020-04-13 21:35] csjx commented on #415
Bump. @laurenwalker - In the ESS-DIVE discussion today, this bug came up as a priority. Can we add this into a up and coming milestone?

[2020-04-14 02:17] mbjones opened #1329 "portal "url valid" message wraps incorrectly"
When editing a portal page for the first time on fancy-vulture, I added a short name to the field to set the URL, which was successful. However, the green success message "This URL is available" with a check mark wraps oddly, even if the browser window is resized.  This is FF 74.0 on Mac OS.  Screenshot:

<img width="719" alt="url-valid-message" src="https://user-images.githubusercontent.com/76640

[2020-04-14 15:46] laurenwalker commented on #1329
Ah yeah, that's odd. THanks

[2020-04-14 16:34] laurenwalker commented on #415
Ok, I added it to 2.12.0

[2020-04-14 20:00] gothub commented on #653
For the pid that is being replaced, are any prov relationships that that pid were contained in either replaced with the new pid or a marked as a revision of the original pid? We have talked a bit about this in the past, not sure what the current thinking is on this.

[2020-04-14 20:29] amoeba commented on #653
Good Q @gothub. Not in my current WIP implementation. Replace has a variety of semantics so we couldn't really pick one for the user and I think we'd need to provide a little UI to get the user to pick the meaning of their replacement.

When I was building this out a few weeks ago I did a mock-up for what I wanted this UI to look like but we opted to go for no UI at the the time of discussing.

<i

[2020-04-14 20:45] laurenwalker opened #1330 "Make "dataset added manually" unchecked by default"
It seems like this feature is more confusing than helpful, particularly since datasets cannot be added manually from the UI yet. Once we add that feature, we may want to add this filter by default again.

[2020-04-14 20:47] laurenwalker opened #1331 "Fix "My portals" CSS bug"
![Screen Shot 2020-04-14 at 3.46.33 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/bd39b365-c311-410c-9411-0bc23f0d2017)

[2020-04-14 21:22] mbjones commented on #202
Also consider adding, possibly in a phase 2:

- [ ] parse CSVW (CSV for the Web) metadata formats like package.json for entity and attribute metadata

[2020-04-14 21:41] gothub commented on #653
Nice answer @amoeba! The mock-up makes it clear what the implications are of either choice.

The complication with "New Version" is that the prov editor doesn't follow the links to the most recent version of an object, so the old version would show up in the prov icons, not the new one that is the revision.

[2020-04-14 23:53] laurenwalker commented on #653
I would suggest that in this current implementation, we **would** update prov relationships with the new pid.

**Reason why**: In our current WIP implementation of "replace", we are assuming the original data file and the replacement data file are the same conceptual object. Therefore, we are keeping all metadata and relationships previously asserted by the data owner intact. The data owner still

[2020-04-15 02:28] amoeba commented on #653
Thanks for chiming in @laurenwalker. I think I'm in favor of _not_ updating PROV unless we capture the semantics of the replacement. My reasoning is that PROV relationships contained in one version of a package may not be true in the updated (w/ replacement) package and my preference is to avoid at all costs asserting false PROV statements.

I think our most common Replace use case is a package wi

[2020-04-15 16:48] laurenwalker commented on #653
I hear your points and I see what you're saying.

Either way we go, we are taking a risk:

1. By updating the PROV relationships, we risk making false assumptions about the data.
2. By not updating the PROV relationships, we risk losing PROV assertions already made by the data owner, or at best, burying it in an older version of the package that no human may ever see.

I personally think that Numb

[2020-04-15 16:52] laurenwalker commented on #653
And of course, the least risky path of action is to ask the user exactly what they want their replace to do, such as with the UI mockup you created. I guess I'm just not convinced that that is the best UX.

[2020-04-15 17:39] laurenwalker commented on #653
I just looked at the new visual feedback and it looks great. I just changed it a bit so that we can squeeze the word "Replaced" in there. :)

![Screen Shot 2020-04-15 at 12 37 24 PM](https://user-images.githubusercontent.com/6643222/79368978-e1597b00-7f15-11ea-9d84-c2afc2e9abb0.png)

[2020-04-15 17:53] amoeba commented on #653
Thanks for hashing this out with me @laurenwalker. I think you make solid points and I also think we're getting somewhere.

Re:

I didn't fully understand this. I'd assume all PROV statements from the old version of the package would be retained in the new version with our Replaced file(s) but they just wouldn't reference any of those new files. Once the PROV editor supports external resources, it

[2020-04-15 19:37] amoeba commented on #1320
Fixed in https://github.com/NCEAS/metacatui/commit/8e530a47ee8ca5536db0f99a182692e7bd1ed49c. Changed the usage of the Clipboard API to use an event delegate instead of DOM binding. Seems to work nicely now.

[2020-04-15 19:59] #1328 closed

[2020-04-15 21:08] #1331 closed

[2020-04-16 00:00] mbjones commented on #653
Really useful discussion, @amoeba and @laurenwalker.

I think whether to update the prov relationships or not is fairly complicated.  Here are three prototypical examples in the figure below, with the initial data package highlighted in the green box, and changed under three scenarios.  Solid lines are the original prov relations, dashed are new provenance relations.  In the first, a new input dat

[2020-04-16 00:06] mbjones commented on #653
Oh, and note that in all three cases, whichever script is used is in a new Execution. So technically the `used` and `generatedBy` triples when`S1` is reused are pointing at new executions that also include S1.  These diagrams gloss over the whole execution part of the provenance model.

[2020-04-16 02:06] amoeba commented on #521
Partial support pushed up in https://github.com/NCEAS/metacatui/commit/64ea4f67d18509f7f5f08ee23c037c0b56f46817. Will continue on this tomorrow AM. You can currently move a party down and it moves the party down the page and in the serialized EML doc. Want to find a nice way to display the move buttons and catch a few edge cases.

[2020-04-16 17:45] #1320 closed

[2020-04-16 19:05] laurenwalker opened #1332 "Write up example of how to `extend` a model or view"

[2020-04-16 20:47] FiannaOBrien opened #1333 "Add Dataset Contact (with ORCID) to Read Write Permissions"

[2020-04-16 21:20] mbjones commented on #1333
@FiannaOBrien I don’t understand under what contexts you want this to happen. Would it be a button to add them? Or automatically add them based on Metacat configuration? A description with what you expect would be really helpful. Could you edit the description and provide more context?

[2020-04-16 22:27] FiannaOBrien commented on #1333
@mbjones I'm so sorry. I added this issue to the wrong repo. This was meant for ESS-DIVE internally.

[2020-04-16 22:28] #1333 closed

[2020-04-17 00:12] amoeba commented on #521
Simple up down button implementation PR'd in #1334.

Action shot:

![Kapture 2020-04-16 at 16 11 02](https://user-images.githubusercontent.com/563/79518193-ecd3a180-7ffc-11ea-8f9f-5138f19abdee.gif)

[2020-04-17 00:55] amoeba commented on #653
Thanks for that, @mbjones.

This sounds right on the money:

We had an extended and very useful discussion on today's developer call and I think most of us thought the thing to do is remove by default the provenance about the item we're replacing. This implies the scenario:

1. P1 contains S1 which uses I1 (`prov:used`, etc.)
2. The user replaces I1 with I2 for an unknown reason
3. The user saves

[2020-04-17 03:13] amoeba commented on #1272
Hey @laurenwalker, I took another look at this just now and undoing https://github.com/NCEAS/metacatui/commit/dfd4808d4d17c6c5569e36fc7a5b4657c93e54c1 still works as far as I can see.  c162a247075f8b079180fb5834fd4b5203a73000 is deployed at https://neutral-cat.nceas.ucsb.edu/view/urn:uuid:0a409765-7519-4bef-a04d-dd0bf352fd37. I can't get the attributes pane to jump below the list at any browser wi

[2020-04-17 18:55] amoeba commented on #865
Having a go at this now.

[2020-04-17 19:08] amoeba commented on #865
Came up with a change to both unordered and ordered:

<img width="578" alt="Screen Shot 2020-04-17 at 11 05 45 AM" src="https://user-images.githubusercontent.com/563/79605024-a719e600-809b-11ea-8848-6cffb65dea98.png">

Open to minor tweaks anyone has. Feel free to commit them up top of comment here. Otherwise, ready for merge.

[2020-04-17 19:11] amoeba commented on #1220
I'll take a look at this today.

[2020-04-17 19:34] laurenwalker commented on #865
Looks good, my minor suggestion is to put an "or" before "site codes":

`Examples: Sex (Male, Female), or site codes coded as letters or numbers (e.g., 1, 2, 3 or A, B, C).`

[2020-04-17 19:36] laurenwalker commented on #1220
Thanks Bryce. You can use Zenhub to move the tickets tto the In Progress column rather than commenting on the issue itself.

Also pls close tickets when they're done. I know they'll get autoclosed when merged to master but closing them makes it easy to track what needs to be done. Thanks

[2020-04-17 19:36] amoeba commented on #1220
Can't reproduce on tip of dev-2.11 branch.

Did this in the editor:

<img width="281" alt="Screen Shot 2020-04-17 at 11 21 41 AM" src="https://user-images.githubusercontent.com/563/79606196-b00bb700-809d-11ea-8726-5909c93dbeda.png">

And saw this when I saved it:

<img width="354" alt="Screen Shot 2020-04-17 at 11 21 52 AM" src="https://user-images.githubusercontent.com/563/79606216-b863f200-809d-

[2020-04-17 19:37] amoeba commented on #1220
Thanks @laurenwalker, will do on both counts.

[2020-04-17 19:47] amoeba commented on #865
Sounds good, thanks! Updated in https://github.com/NCEAS/metacatui/commit/d10bd2e3162418f7a684b87665969158436db9c4.

I'll go ahead and close this now. If anyone has any further suggestions please comment here and we can reopen and address them.

[2020-04-17 19:47] #865 closed

[2020-04-17 19:48] laurenwalker commented on #1220
Hmm, December 2019 is still pretty recent, and if Jeanette was able to confirm the bug, I'm not so certain we should close the ticket yet. Sounds like there may be more debugging to do.

I can take a whack at trying to reproduce, too. If neither of us can reproduce, we can always keep open with a 'cannot reproduce' label. That's typically what I've done in these situations

[2020-04-17 20:11] amoeba commented on #1220
Sounds good.

[2020-04-17 20:17] jeanetteclark commented on #1220
I can no longer reproduce

[2020-04-18 00:53] laurenwalker opened #1335 "When an identifier is searched for in the "all" filter, too many results are returned"
I was searching for a metadata doc that I just submitted by pasting the UUID into the "All" filter. (e.g. `urn:uuid:2085065f-11b4-48a0-9f21-f8ae3325cf25`).

This results in the query: `-obsoletedBy:* AND -formatId:*dataone.org/collections* AND -formatId:*dataone.org/portals* AND urn\:uuid\:2085065f-11b4-48a0-9f21-f8ae3325cf25 AND formatType:METADATA`

This returned thousands of results because the

[2020-04-18 01:15] amoeba commented on #523
I've made an initial pass and like where this is going. In order to simplify things and avoid bugs, my approach is to separate identifier handling into two sides:

1. **Web/URL-side**: Identifiers are always URL encoded
	- Backbone Routers always assume identifiers need decoding before passing onward.
	- Views that construct URLs always URLEncode all URL components that may contain characters that

[2020-04-18 01:22] amoeba commented on #1335
Interesting. Is the "All" filter just the top "Search" box? When I search exactly for a PID in that box, like `https://pasta.lternet.edu/package/metadata/eml/knb-lter-jrn/210385004/17` or `doi:10.18739/A21N7XN0C`, or a UUID, I only get one (the correct) result. Am I doing something different here?

[2020-04-18 01:23] laurenwalker commented on #1220
I was able to reproduce this bug and fixed it.

I reproduced by trying to edit a copy of the EML that originally caused this bug (from the linked support ticket). The issue was not actually about alternate identifiers, but EMLParties.

Probably about 30% of the time, reported bugs are not actually about the issue described in the ticket/email. Haha. So it helps to work with the same conditions tha

[2020-04-18 01:23] #1220 closed

[2020-04-18 01:28] laurenwalker commented on #1335
Hmm, which environment did you search in?

[2020-04-18 01:32] #521 closed

[2020-04-18 01:47] amoeba commented on #1335
search.dataone.org:

![Screen Recording 2020-04-17 at 5 45 21 PM](https://user-images.githubusercontent.com/563/79625149-705fc200-80d3-11ea-94e4-e1696ec3798b.gif)

[2020-04-18 01:54] amoeba commented on #1220
Ah, really nice work! I realize now that I didn't find any useful info on the RT ticket because apparently I forgot that RT hides long messages 🤦 . Thanks for diving into it.

[2020-04-18 01:57] laurenwalker commented on #1335
Hmm, this might be a difference between the MN and CN Solr indexes, or the DataONE theme and non-DataONE themes. Because I can see what you're saying on search.dataone.org, but I can still reproduce this bug on the KNB. (Example: `doi:10.5063/F1NP22S4.`)

[2020-04-18 02:14] amoeba commented on #1335
Weird. Checkout `doi:10.18739/A2NG4GS10` on arcticdata.io. Works similar there.

[2020-04-20 17:18] laurenwalker opened #1336 "Move UserProfiles to the PortalView"
This will exclude the Settings panel, which will become it's own view

[2020-04-20 17:18] laurenwalker opened #1337 "Create separate SettingsView for user/account settings"

[2020-04-20 18:49] laurenwalker opened #1338 "Routes to /profile should be case-insensitive"
Example:
https://handy-owl.nceas.ucsb.edu/profile/LTER and https://handy-owl.nceas.ucsb.edu/profile/lter should both resolve to the LTER MN profile view.

[2020-04-20 18:50] laurenwalker opened #1339 "Fix colors in profile time period chart"
![Screen Shot 2020-04-20 at 1.50.05 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/a00542d9-8ca9-461f-bb04-70efe8786279)

[2020-04-20 18:51] laurenwalker opened #1340 "Latest updates chart is not rendering"
![Screen Shot 2020-04-20 at 1.51.20 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/13975e4c-e16e-4c32-a4dd-d13111a22216)

[2020-04-20 18:54] laurenwalker opened #1341 "Add "member since" stat to header of MN profile"

[2020-04-20 18:54] laurenwalker opened #1342 "Add description to MN profile header"

[2020-04-20 18:55] laurenwalker opened #1343 "Add "num of replicas" metric to MN profile Metrics section"

[2020-04-20 18:58] laurenwalker opened #1344 "Add padding to portal view dataset list"
![Screen Shot 2020-04-20 at 1.57.44 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/4873cbc6-a32d-41c1-b716-4a8363f46d72)

[2020-04-20 20:16] laurenwalker opened #1345 "Confusion between group profiles and related portals"
For example, on the KNB there is a group for SASAP members and a portal for the SASAP project: https://knb.ecoinformatics.org/profile/CN=SASAP,DC=dataone,DC=org
https://knb.ecoinformatics.org/portals/SASAP

There may be confusion for our users if they see two similar places in the UI for the SASAP project. Particularly since they both have dataset listings and metrics.

We should consider removing

[2020-04-20 20:24] laurenwalker opened #1346 "Metrics tab in portals fail for large collections"
Example: https://knb.ecoinformatics.org/portals/sasap

MetacatUI constructs a query to send to Solr for the various metrics (e.g. total volume of data), which contains thousands of `OR` boolean clauses for each data pid in the portal. This causes a 500 server error because there are too many clauses. We need to find a way to reconstruct this query so it doesn't have to search by pid. With Metacat

[2020-04-20 23:08] mbjones commented on #1345
@laurenwalker good point.  In the case of SASAP, the CN=SASAP group is the same group that would be contributing to the portal.  So, I would expect the portal to completely replace the profile in this case.  Maybe on the /profile page for the group we can list portals that are associated with that group?  Maybe something similar would be in order for individual users too?

[2020-04-21 02:40] amoeba commented on #523
Making good but slow progress. I've found about seven or so patterns for how we reference identifiers when building URLs and I'm still finding more here and there as I go. I think this is still quite feasible and testing so far is going very well.

@laurenwalker, @csjx  what do you think about maybe asking the data team if we can deploy this on test.arcticdata.io for maybe a week or two before we

[2020-04-21 19:48] laurenwalker commented on #523
We could deploy to my VM fancy-vulture, pointing to test.arcticdata, since the data team doesn't use that

[2020-04-21 22:33] amoeba commented on #523
Well, my thinking was that the data team would help us find remaining bugs.

[2020-04-22 00:58] amoeba opened #1347 "Fix ProvChartView view URL issue"
I found a case where a link is created using a constant that's not getting interpolated as intended.

In:

https://github.com/NCEAS/metacatui/blob/9d623fd16b5c82cfcb3628582b4b978bff5622cc/src/js/views/ProvChartView.js#L515-L519

There's code like:

[code]

which should be:

[code]

since this isn't an underscore template. It results in this behavior:

![image](https://user-images.githubusercontent

[2020-04-22 02:25] laurenwalker commented on #523
Oh, I see what you're saying. Yeah let's run it by Jeanette

[2020-04-22 19:50] #1325 closed

[2020-04-22 19:52] laurenwalker commented on #653
Thanks Bryce. I just closed out #1325 so you should be able to move forward with removing prov about replaced objects. I think the changes from #1325 shouldn't affect your branch too much.

[2020-04-22 19:54] amoeba commented on #653
Great news, thanks for fixing that bug. I'll start back on this today.

[2020-04-22 19:55] #1029 closed

[2020-04-22 19:56] #1272 closed

[2020-04-22 20:43] rushirajnenuji commented on #1296
Added required file format types in commits: https://github.com/NCEAS/metacatui/commit/b72299cb233ee9507ff15228155ee10dcde47090 and https://github.com/NCEAS/metacatui/commit/786f678af218ec51ac3f79595b8a0db0e0ec66d1

[2020-04-22 20:43] #1296 closed

[2020-04-22 20:45] laurenwalker commented on #523
I tested this a bit today and I didn't run into any major issues! I found one bbug and have two thoughts:

### Bug
In provenance charts: when I click the "View" button in a provenance node popover, the window jumps down to the inner-page anchor for that object (expected), but then it redirects to a `/view` route for that pid. It should only jump to the anchor. This may be related to #161.

Example

[2020-04-22 20:47] rushirajnenuji commented on #1290
Updated stats view template to include icons for the missing sections:
- Metadata Assessment: icon-dashboard
- Latest Updates: icon-cloud-upload
- File formats: icon-file

[2020-04-22 20:47] #1290 closed

[2020-04-22 21:01] amoeba commented on #523
Hey @laurenwalker , thanks for testing. That bug may have been introduced when I fixed an unrelated bug in the prov chart view in 1d88b3703c5058af6192f596050936a974b74ecf. It must have worked fine before  because the link was broken and fixing it broke the behavior. Looks like the click handler needs a preventdefault or we need to convert this to using HTML anchors properly. I'll look into that.

[2020-04-22 21:16] amoeba commented on #523
FYI: I just pushed up a bug fix for the ProvChartView bug I discovered/introduced: 4450b0331d247bf34f02d48c05b617862a291367. Now I get nice scrolling to other entities.

[2020-04-22 22:46] mbjones commented on #653
@amoeba Your plan sounds good.

The one modification I might consider (really an enhancement that could be implemented after your fix was in) would be to use the existing provenance graph in P1 to suggest provenance relationships in P2 for the user to confirm.  For example, if the user is replacing I1 with I2, then when they do that, MetacatUI might notice the existing `prov:used` relation between

[2020-04-23 01:09] amoeba commented on #653
Hey @mbjones, thanks.

Re:

This sounds very sane to me, at least for simple situations and smaller packages (which is roughly what the editor is for). It also sounds good to push this to the next version and plan to sketch out a UX.

Re: your idea about keeping PROV triples around after a replace.

When we talked about this, we reasoned that any PROV relationships that were true in version 1 of t

[2020-04-23 15:45] rushirajnenuji commented on #1340
This seems to have been fixed in earlier issue/commits. I've tested this and it looks like this is working.

[2020-04-23 21:32] laurenwalker opened #1348 "Add "new features" widget"
Design and implement a non-obtrusive but noticable widget for MetacatUI that will show what the new features of the latest release are. We can directly use the Release Notes from here on Github, which I usually try to write in a non-jargony way as much as possible.

[2020-04-23 21:34] laurenwalker opened #1349 "Add mechanism to reserve node IDs as portal labels"

[2020-04-23 21:37] laurenwalker opened #1350 "Route MN profiles to new /portals URL"

[2020-04-23 21:37] laurenwalker opened #1351 "Remove "replicas" stat from non-repo portals/profiles"

[2020-04-23 21:40] laurenwalker opened #1352 "Check for MN portal doc when loading MN profile/portal"
We should create a portal doc for a development MN (like dev.nceas) in a development environment, and test the new /portals/{node} view there.

This could be done as an iterative step after releasing the /portals/{node} view as it exists now.

[2020-04-24 02:15] mbjones commented on #1348
Thanks for writing this up, @laurenwalker . I generally do like your release notes, and they are quite approachable.  But we may also want to consider involving @Erinlynmclean, @aebudden  and the outreach team craft brief feature presentations to be fully user-facing. Let's consider a separate document than the metacatUI release notes, which often contain more bug fixes and changes than we would w

[2020-04-24 16:29] laurenwalker commented on #1348
Ok, sounds good to me.

[2020-04-24 17:16] laurenwalker opened #1353 "Add way to delete an EML Entity from UI"
Right now if there is an EML entity section that is not associated with a DataONEObject, it doesn't show up anywhere in the editor, but it is still displayed in the metadata view and included in the EML itself. This typically happens when there is an error during submission. These "orphaned" entity sections need to be deleted from the UI (particularly since our hosted repo owners may not be manual

[2020-04-24 17:21] laurenwalker commented on #245
This came up today during a call with one of our hosted repos. It wasn't a feature requested specifically, but a format id for a file was guessed by the UI incorrectly, and it occurred to me there's no way to change it in the UI (related to #560 and #930)

[2020-04-24 17:29] laurenwalker opened #1354 "Unregistered MNs have node ID displayed in citation"
MetacatUI uses the CN node document to construct an array of NodeModels. Each NodeModel has a name, which is used by the CitationView as the publisher name. If the repo is not a registered DataONE MN, then there is no associated NodeModel, so the node id (`urn:node:METACAT`) is shown instead. The view should use an AppModel configuration instead. (Possibly have a NodeModel object set on the AppMod

[2020-04-24 18:45] erinlynmclean commented on #1348
Let me know how I can help!

[2020-04-24 19:33] amoeba commented on #1354
This'd be great. There's also a related issue at https://github.com/NCEAS/metacatui/issues/570.

[2020-04-24 21:03] amoeba opened #1355 "Saving in the editor can sometimes break when replacing an item"
I'm seeing the following behavior on my `feature-replace-item` [branch](https://github.com/NCEAS/metacatui/tree/i653-replace-item).

1. Create and save a package with metadata, a CSV, and an R script
2. Open the package in the editor and replace the R script with another
3. Click Submit to save the package
4. End up with a broken/partial save and a "Not all of your changes could be submitted." mes

[2020-04-24 21:04] amoeba commented on #653
Made some progress on the PROV handling portion of this feature and ran into a `DataPackage.save` issue seemingly related to this feature, https://github.com/NCEAS/metacatui/issues/1355, so I'm going to have to fix that first.

[2020-04-24 21:16] laurenwalker opened #1356 "Use Solr 7 features to minimize queries"
Look into Solr features released after version 3 (metacat 2.12.0 and earlier) to minimize query HTTP calls sent by MetacatUI views.

Some examples and the Solr join query parser and subqueries.

Since this requires Metacat 2.13.0, we should be careful about when to release this in MetacatUI since users who haven't upgraded won't be able to move forward that UI release.

*DataCatalogView*
1. Query

[2020-04-24 22:05] mbjones commented on #1355
Interesting.  Given that `MNStorage.update` provides a `SystemMetadata` document as a parameter of the payload, why do we then need to immediately go retrieve that info in steps 2 and 3?  If there is a version conflict, presumably 1 would fail and need to be retried. If step 1 succeeds, then presumably the sysmeta that was sent was accepted as valid...

[2020-04-25 00:00] laurenwalker commented on #450
This came up again during ADC discussions, since the data team still routinely adds physical entity metadata to each submission. We should be able to easily add this metadata automatically about the info we already know about files during upload and from the system metadata.

Generation of the physical sections should be configurable in the AppModel so some repos can turn that off if they choose t

[2020-04-25 00:05] amoeba commented on #1355
I don't know about the rationale for the `getSystemMetadata` call immediately after the `MNStorage.update` call. It may be unnecessary. Though I'll note that the MN mutates the System Metadata after `MNStorage.create/update` with properties the application may need later on down the line so a fetch after create/update doesn't sound unreasonable just yet.

[2020-04-25 00:11] laurenwalker commented on #525
This is something that our Arctic data team still does a lot manually via R. And it will likely become an issue in the future for our hosted repos as they start inputting funding information via the editor (that's when the project sections are created). Moving up to a near milestone

[2020-04-25 00:13] laurenwalker opened #1357 "Create dataTable elements for tabular data, not otherEntity"
We decided to start out the EML editor with otherEntity creation only, as a first iteration. But it would be great to have the editor support at least dataTable entities too.

[2020-04-25 00:35] laurenwalker commented on #1193
This isn't necessary anymore. We decided to only display portals on the DataONE theme if they are paid portals, as verified by the (to-be-released) dataone bookkeeper service.

[2020-04-25 00:35] #1193 closed

[2020-04-28 16:28] jeanetteclark opened #1358 "if a portal is private, display a "this portal is private" message"
Currently, if a portal is set to private and a user is not logged in, the message reads:

It would be nice if it said something more like what private datasets say:

[2020-04-28 16:31] rushirajnenuji commented on #1341
Included the member since details above the description for repository profiles.

![Screen Shot 2020-04-28 at 9.29.58 AM.png](https://images.zenhubusercontent.com/5d152e0511232d5ce5b3f588/63471349-00fa-4813-812c-44c752b7335b)

[2020-04-28 16:33] rushirajnenuji commented on #1342
This issue is now complete. Added MN descriptions for repository profiles in Portal Header View. (Only shows up for repository profiles)

[2020-04-28 16:33] #1342 closed

[2020-04-28 16:49] laurenwalker commented on #1341
Look great! Can we change the term "Member Node" to "Member Repository"? That matches the new wording we've been using for DataONE. Thanks!

[2020-04-28 16:54] rushirajnenuji commented on #1341
Ah yes, we discussed this during our dev call. Sorry for the oversight! I've pushed the change:

![Screen Shot 2020-04-28 at 9.53.20 AM.png](https://images.zenhubusercontent.com/5d152e0511232d5ce5b3f588/e1f7083e-debf-4929-bdb3-accccb19aac8)

[2020-04-28 16:54] #1341 closed

[2020-04-28 17:07] rushirajnenuji commented on #1340
I cannot recreate this. I still see this bug in production, but not on the latest dev branch and as well as on my personal development branch.

I verified that this bug was fixed earlier in this commit: https://github.com/NCEAS/metacatui/commit/7240e054b670a23fcc15d009fdb29fe7a0b13670

[2020-04-28 17:07] #1340 closed

[2020-04-28 17:15] rushirajnenuji commented on #1339
Updated CSS rules in the above commit (https://github.com/NCEAS/metacatui/commit/94b5ebfd0bb2a442a6b777ee97e769f70e06dbef). Reverted the chart colors to default ones.

![Screen Shot 2020-04-28 at 10.13.06 AM.png](https://images.zenhubusercontent.com/5d152e0511232d5ce5b3f588/104e5fe8-2028-4acf-8258-e707419b8e94)

[2020-04-28 17:15] #1339 closed

[2020-04-28 18:22] laurenwalker opened #1359 "Saving portals on feature branch not working"
I tried to edit and save a portal on test.arcticdata.io (which currently uses the dev-2.11-encoding branch), and it failed due to this error:

`The series identifier urn:uuid:ccd1a03a-1e8a-40fa-a8b5-55e391e27bfe is already used by another object and therefore can not be used for this object. Clients should choose a new identifier that is unique and retry the operation or use CN.reserveIdentifier()

[2020-04-28 19:03] amoeba commented on #1359
Interesting. I'll take a look.

[2020-04-28 20:27] laurenwalker commented on #1289
This requires the new site to be live, which is not happening for 2.11 release, so moving

[2020-04-28 20:29] laurenwalker commented on #1284
What's the status of this? Is this still an issue? @rushirajnenuji

[2020-04-28 20:31] laurenwalker opened #1360 "Write up better docs for creating themes"
Someone recently emailed us with some confusion on how this is done, so clearer step-by-step docs would be nice.
This would be better to do after external app config #1237 is complete

[2020-04-28 20:54] vchendrix commented on #1232
Does this include support for manging the access policy for data packages?

[2020-04-28 20:57] laurenwalker commented on #1232
Yes

[2020-04-28 21:42] mbjones opened #1361 "My Portals menu wraps strangely"
When I view the menu in the arcticdata.io using Firefox 75.0 on MacOS I get a weird multiline wrap.  Here's a screenshot:

<img width="321" alt="portals-menu" src="https://user-images.githubusercontent.com/766407/80540338-9435ca00-8955-11ea-91b5-fe5da296f0ea.png">

[2020-04-28 21:47] laurenwalker commented on #1361
Yes this is fixed and should be deployed soon

[2020-04-28 21:47] #1361 closed

[2020-04-28 22:16] rushirajnenuji commented on #1344
Added some padding to the DataCatalog list for portals view

![Screen Shot 2020-04-28 at 3.14.29 PM.png](https://images.zenhubusercontent.com/5d152e0511232d5ce5b3f588/53eaff46-ed45-4636-a0e8-35e2bca2f68b)

[2020-04-28 22:16] #1344 closed

[2020-04-28 22:54] mbjones opened #1362 "support folder hierarchies display and editing in packages"
Add the ability to visualize and edit folder hierarchies when they exist in ORE packages following the new DataONE convention (PR https://github.com/DataONEorg/api-documentation/pull/4). This involves changes to both the display service to show the folder hierarchy of a package, and to the editor to enable display and editing of folder paths via a hierarchical folder tree (@csjx already designed a

[2020-04-28 23:08] rushirajnenuji opened #1363 "Inconsistent replica counts for repository profile vs node summary profile"

[2020-04-29 00:34] rushirajnenuji commented on #1351
Hi @laurenwalker  - This was an easy fix - but now that we have reduced the radius of the charts for summary metrics - (i.e. the number of datasets and total volume of content) - there is too much of extra space on for that section in portal views.

Moving this to review column for now.

[2020-04-29 00:39] rushirajnenuji commented on #1363
The Solr queries to get replica stats for /summary view were failing. Solved this by utilizing the `AppModel's` nodeId to get the stats.

Relevant commit: https://github.com/NCEAS/metacatui/commit/4b079164ad8148aa85ab48ee3490d58eef385edf

[2020-04-29 00:39] #1363 closed

[2020-04-29 00:40] rushirajnenuji commented on #1343
This is now complete - example stat from ARCTIC profile:

![Screen Shot 2020-04-28 at 5.39.59 PM.png](https://images.zenhubusercontent.com/5d152e0511232d5ce5b3f588/566494da-9dd5-4380-9841-ccbb54c7103b)

[2020-04-29 00:40] #1343 closed

[2020-04-29 17:08] laurenwalker opened #1364 "Using browser back navigation isn't working right"
Because we update the window location with each section name (Data, Settings, etc.), pressing the back button reloads the portal editor on the last active section. I'm not sure this is the behavior we want, so I'm looking into reworking this functionality.

[2020-04-29 20:32] #1364 closed

[2020-04-30 01:53] laurenwalker opened #1365 "Navigating to data landing page via seriesId shows obsoleted version"
To reproduce: Go to /view/{data seriesId}
If the data object has been in multiple versions of a package, it's solr record will have multiple metadata ids in the `isDocumentedBy` field.
The MetadataView grabs the first pid in that field and displays that metadata. It should instead look for the most recent version in that pid list.

Example:
https://opc.dataone.org/view/urn:uuid:13ca9fca-0fb4-41a3-

[2020-04-30 18:06] laurenwalker opened #1366 "Enable publish button for only a blessed list of users or groups"

[2020-04-30 18:43] #1366 closed

[2020-05-01 20:35] laurenwalker commented on #1365
This was an issue with data pids and sids.

The MetadataView will now get the full list of isDocumentedBy pids, and find the newest version in that pid list. Previously, the MetadataView would just default to the first pid in the list.

I decided to leave a "TODO" to handle the case of a data object documented by metadata in more than one version chain (e.g. a data object in more than one package)

[2020-05-01 20:35] #1365 closed

[2020-05-01 20:37] #1347 closed

[2020-05-01 20:42] laurenwalker opened #1367 "Portal search view MVP"
Use the existing PortalListView to create a new /portals page that will simply list all portals in the repo.

This should be expanded on (see #689) with a nicer-looking redesign and filtering options.

[2020-05-04 18:28] laurenwalker opened #1368 "Use `http` in ORCIDs as they are entered in the editors"
In the ORCID text inputs in the access policy editor or metadata editor, we should convert ORCID strings with `https` to `http`, since that is the format used by the DataONE auth portal when DataONE accounts are created.

[2020-05-04 18:51] mbjones commented on #1368
Such a bummer, given that we have recommended https for all access policies with ORCIDs. It seems to me that the auth portal really needs to treat http and https as equivalent for ORCIDs.  I think we had a ticket discussing these issues somewhere...

[2020-05-04 19:56] laurenwalker opened #1369 "Show obsoleted pids/DOIs in search results"
From Slack:

We may want to consider showing obsoleted metadata docs when searching for an identifier, particularly a DOI. Otherwise, there is no way to find a dataset page for a given ID, unless you are familiar with the MetacatUI URL structure.

[2020-05-05 17:10] jeanetteclark commented on #1091
our wikidata identifier is: Q77285095

[2020-05-05 17:23] jeanetteclark opened #1370 "add system to entity metadata"
**Automatically system to entity metadata**
It would be nice to add something to the system XPATH `/eml/dataset/*[self::dataTable|self::spatialRaster|self::spatialVector|self::storedProcedure|self::view|self::otherEntity]/@system`. I believe the member node URL (eg: https://arcticdata.io) would be appropriate since this is the same `system` used in the document as whole.

**FAIR improvements**
Thi

[2020-05-05 17:28] jeanetteclark opened #1371 "System is assigned incorrectly in the root element"
**System is automatically filled in as "knb" in the root of the document**

For example, from this [test document](https://test.arcticdata.io/view/urn%3Auuid%3A374a77fd-d350-448f-849e-113d34bcc4f8)

[code]

**To Reproduce**
 1. Create a test dataset on test.arcticdata.io
 2. Examine root element

**Expected behavior**
I believe that the system should be the URL of the member node (eg: https://arct

[2020-05-05 23:00] laurenwalker opened #1372 "'isPublic' filter is not removable"
I submitted a portal via curl with an isPublic booleanFilter and it was not removed from the collection filters when I clicked "Clear All"

[2020-05-05 23:15] laurenwalker commented on #1346
This bug fix is taking longer than expected because it required a refactor of the Stats Model. This is because Solr joins are the solution to this issue, and that requires a rewrite of all the queries and the way they are sent. And because Solr joins are not supported <Solr 4.4 (I believe - the old Solr release notes aren't exactly clear), I am being careful about keeping the `join` queries as a c

[2020-05-06 15:31] #1329 closed

[2020-05-06 16:07] laurenwalker commented on #1330
This is a bit more complicated than I originally thought it would be, since the isPartOf filter is created and added to the filter list upon Portal initialization. Going to remove this from the milestone since it was fairly low priority anyway, and should make more sense once we redesign the EditCollectionView (#1175)

[2020-05-06 16:48] #1180 closed

[2020-05-06 19:31] laurenwalker opened #1373 "Copying creator to contact causes a duplicate"
REproduce:
- Remove yourself as the auto-filled creator and contact
- Add someone as a creator
- Copy to... contacts
- Submit dataset, and see that two contacts were serialized to the XML

[2020-05-07 22:29] laurenwalker opened #1374 "Solr queries with wildcards not always working"

[2020-05-07 23:31] rushirajnenuji opened #1375 "Citations display improvements for repository profiles"
**Incorrect display in citations counts for /summary view**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [ARCTIC summary](https://arcticdata.io/catalog/summary)
2. Scroll down to `citations` section

**Expected behavior**
1. Correct display count as returned by the Metrics Service
2. Repository citations should have the same dataset listings as portal metrics so multiple links are n

[2020-05-07 23:34] #1374 closed

[2020-05-08 16:17] gothub opened #1376 "OPC DOI URL doesn't resolve"
For the OPC repository (opc.dataone.org), the 'publish DOI' button was pressed and the new package https://opc.dataone.org/view/doi:10.25494/P6QP4H was created with the corresponding registered DOI.

When trying to resolve this DOI from doi.org, the resolution url https://opc.dataone.org/metacatui/view/doi:10.25494/P6QP4H is returned, which doesn't display on OPC.

Should the URL include `metacatu

[2020-05-08 16:38] amoeba commented on #1376
Just looks like they haven't configured this section of Metacat. I think they wanna change https://github.com/NCEAS/metacat/blob/3c4a4109fa49e86969981901b8979d7214aa63d1/lib/metacat.properties#L728

[2020-05-08 17:38] amoeba commented on #1368
yep, @mbjones , we got stuck on this over on https://redmine.dataone.org/issues/8215.

[2020-05-08 17:50] amoeba commented on #1369
Tricky use case. I think search is overall better if it only shows head versions by default and I imagine we've discussed this at length over the years.

I also think it's impossible to always know whether free text is an identifier but we could catch some common patterns like "10." or such.

A few other ideas:

- Could we loosen just the query we use for the Identifier field here and tell people

[2020-05-08 18:00] gothub commented on #1376
@amoeba thanks for find the config for this, i'll close this now.

[2020-05-08 18:57] mbjones commented on #1376
@csjx was configuring this for them, so we need to update the configuration on metacat, and we need to update all of the already-registered DOIs so they point at the correct landing page URL.  @taojing2002 could you do this while chris is out? I'm not sure who has access....

[2020-05-08 19:45] taojing2002 commented on #1376
There was still a missed configuration on the ezid part - `guid.ezid.uritemplate.metadata`. It should be `/view/<IDENTIFIER>` rather than `/metacatui/view/<IDENTIFIER>`. After I fixed the issue and re-registered the new datacite.xml,  it works.

[2020-05-08 19:45] #1376 closed

[2020-05-08 20:27] laurenwalker opened #1377 "Resource map save failure"
Affected dataset: https://opc.dataone.org/view/urn:uuid:92be132b-b247-4fd2-8707-57776abfbbc0

An error message was shown, with no "technical details" info.

This was a package that was previously updated in R

[2020-05-08 20:28] laurenwalker opened #1378 ""Submit Dataset" button doesn't appear"
On OPC, the Submit Dataset button didn't appear after editing the metadata abstract. It took a few seconds to show up.

[2020-05-08 20:29] amoeba commented on #1371
Can confirm a new document has a `system` of "knb" on test.arctic. This is controlled by `EML211.createXML()`

[code]

See: https://github.com/NCEAS/metacatui/blob/master/src/js/models/metadata/eml211/EML211.js#L1903

Can also confirm the editor doesn't mess with `system` when it's set on a document we're updating so, depending on what's changed here, we may want to tweak that too.

It strikes me

[2020-05-08 20:30] laurenwalker opened #1379 "Catch resource map save failures better"
When a resource map fails to save for whatever reason, we need to try again somehow.  Error messages from Metacat are pretty opaque, so either error messages need to be more explicit (returning exactly what part of the rMap is invalid), or MetacatUI needs to re-serialize a resourcemap somehow.

[2020-05-08 20:34] laurenwalker commented on #1371
No, I'm not aware of a standard approach. According to the EML spec, a URL to the data management system is suggested: https://eml.ecoinformatics.org/schema/eml-resource_xsd.html#SystemType

So I think we could use the repository base URL. (We could use the AppModel `baseUrl` attribute)

[2020-05-08 20:36] mbjones commented on #1371
"knb" has been our historical `system` since when the 'Network' in the KNB was the emphasis (i.e., as the precursor to DataONE). Its also why all of hte LTER identifiers have 'knb' in them. We've recognized for a long time that a bare 'knb' word is insufficient to scope things well, and that a URI would be better.  There's no agreed upon vocabulary for system designators, and in reality the `syste

[2020-05-08 21:11] laurenwalker commented on #83
Hi Bryce, thanks for doing this, sorry that I'm just now am taking a look at it. Is this compatible with your changes on the url-encoding branch?

[2020-05-08 22:00] jeanetteclark opened #1380 "Add distribution URL to dataset"
**Describe the feature you'd like**

I would like for metacatUI to automatically add a distribution URL to the `dataset` element.

**Is your feature request related to a problem? Please describe.**

This is related to a check in the metadig FAIR suite, which looks for whether a resource landing page is present. The check looks at this XPATH `/eml/dataset/distribution/online/url[@function="informat

[2020-05-08 22:32] jeanetteclark commented on #1380
If we really wanted to be thorough, we could also add a `url` with the attribute `download` pointing to the coordinating node URL for the object itself.

[2020-05-08 22:44] laurenwalker opened #1381 "Serialize RDF XML before saving metadata object"
We should serialize the RDF XML before saving the metadata object, because if there is a JS error during serialization, we can abort the save, which prevents the resource map from "breaking"/causing orphaned files.

Related to #1379

[2020-05-08 23:01] amoeba commented on #1371
I think I'd put some votes (if I get multiple) for any of

1. @laurenwalker's repo-specific `system` value based on `baseUrl`
2.
[code]
3.
[code]
4.
[code]

[2020-05-08 23:03] amoeba commented on #83
Hey @laurenwalker np. Good eye, I'm not sure if it will work off-hand. I'll take a look and report back here.

[2020-05-11 15:45] mbjones commented on #1371
I like number 4 as it both provides a URI that leads to dataset collections, and combined with the identifier should create a resolvable URI. For Metacat systems that are not (and will not be( connected to DataONE as members, then number 1 would make sense.

[2020-05-11 20:28] amoeba commented on #1359
This was a quick fix and due to my bad assumption about how `encodeURIComponent` would work on a null value. Turns out it just returns "null" which is truthy in JS. Oops.

I looked at my other commits on this branch and I didn't make this same mistake anywhere else so I'll call this fixed.

[2020-05-11 20:31] amoeba commented on #1359
PS: @laurenwalker IIRC this was the last/only thing we found that needed fixing on this branch so I think this ready for a review and/or merge whenever you're ready.

[2020-05-11 21:09] mbjones commented on #1232
The inability to share permissions within a lab group is a blocker to effective use of the tool.  Another group using the KNB is struggling with this now. I increased the priority on this to Critical.

[2020-05-11 22:42] mbjones opened #1382 "portal dataset passthrough editor"
**Describe the feature you'd like**
A common use case is for a portal “passthrough” capability — where a portal for e.g., a lab exposes the MetacatUI editor for Members of that portal to create new datasets and edit existing ones. This is an advertised feature of our current promotional docs and flyers, but we haven't yet fleshed it out for implementation. The editor would then set defaults for ne

[2020-05-12 16:16] jeanetteclark opened #1383 "Support embedded visualization tools"
**Describe the feature you'd like**

Add the ability to include some kind of visualization tool in portals (leaflet maps, for example).

**Is your feature request related to a problem? Please describe.**

We have received this request from a couple of different groups (SASAP, PerCS-Net). The specific request from Ben Jones of PerCS-Net is:

**Additional context**

From slack, @laurenwalker remarke

[2020-05-12 17:52] laurenwalker opened #1384 "Add unit precision field to attribute editor"
https://eml.ecoinformatics.org/schema/eml-attribute_xsd.html#AttributeType_AttributeType_measurementScale_AttributeType_AttributeType_measurementScale_interval_precision

[2020-05-12 17:58] laurenwalker commented on #1232
I'll try to get it worked in as soon as we can. May have to reprioritize some other high priority features if this is truly critical.

[2020-05-12 19:49] FiannaOBrien opened #1385 "Saved Contributors not appearing in Editor"
**Describe the bug**
ESS-DIVE users have been reporting that saved contributors are not appearing in the editor. One user describes adding Contributors but not seeing them when re-opening the editor & added again. Later found the Contributors duplicated.
On opening the editor, the "Contributors" field appeared blank, with none of the contributors listed that were visible in the saved record. Dupli

[2020-05-12 20:01] mbjones commented on #1385
@FiannaOBrien the dataset is private (so I can not see it), and on a dev site. Does it display correctly on production? Does the display issue also manifest through the DataONE portal theme (https://search.dataone.org), or is it specific to the ESS-DIVE theme?

[2020-05-12 21:10] rushirajnenuji commented on #1349
Hey @laurenwalker - this is complete and up for review. Could you please test the functionality whenever you get time.  Changes are pushed to the `patch-2.11.3` branch which is based on `dev-2.11`.

[2020-05-13 00:09] FiannaOBrien commented on #1385
@mbjones I'm sorry about that. This issue is happening on production, but I was reluctant to include instructions to open the editor on a real dataset on prod. Only a few folks on the NCEAS team (Chris, Lauren, & Peter) have admin access on ESS-DIVE.

Since I'm not able to edit any packages on DataOne, I don't know if this issue is happening there as well. Is there a dev instance for DataOne where

[2020-05-13 00:43] amoeba commented on #653
I took a look at removing PROV about the package member being replaced and found that the current behavior, though maybe unintentional, may be doing just the right thing. This wraps up the TODOs on this feature.

(I'd love another set of eyes on this or at least ideas for other scenarios to test I'm not thinking of)

It turns out that the `PackageModel` currently removes triples whose subject or o

[2020-05-13 00:47] amoeba commented on #653
@laurenwalker how would be best to review/test this before merge for you? I'm happy to submit a PR or just let you or any others test before merging.

[2020-05-13 01:01] mbjones commented on #1385
@FiannaOBrien No worries. I was just suggesting that you check if the rendered package under a non-ESS-DIVE theme shows the same behavior, which will narrow down where the problem might be.

[2020-05-13 19:20] #1381 closed

[2020-05-13 19:24] laurenwalker opened #1386 "Handle resource map save failures better"
Things have improved with #1381, but when the DataPackage collection save() function gets done saving all the member models, we need to catch errors better and save some kind of resource map so all the files aren't orphaned.

If it's a RDF serialization issue, I think we could try creating a new DataPackage collection, add the member models, and re-serialize the RDF from scratch. This should be pr

[2020-05-13 19:40] mbjones commented on #1386
And if its just a network failure, then maybe a retry is in order?  At a minimum, when the RDF fails to be written, somehow the package needs to be marked as still unsaved so that it can be recovered, fixed, and retried. Does each object in the model (e.g., package members, metadata, rdf file) have status flags indicating 1) if it was successfully uploaded, and 2) if it has been changed at all sin

[2020-05-13 21:07] laurenwalker commented on #1386
This feature already exists.

Yes, each model has an `uploadStatus`, with statuses of either `complete`, `error`, `in progress` or `in the queue`.

[2020-05-13 21:09] laurenwalker commented on #1385
I think this may be a duplicate of issue #1373, which was also causing duplicate parties to appear in the EML but not in the editor. But I'll make sure it's a true duplicate before I close. Thanks.

[2020-05-13 21:11] laurenwalker commented on #1359
Awesome, thanks

[2020-05-13 21:20] amoeba commented on #83
I have a couple of tweaks to make on this and will make them later today.

[2020-05-14 00:14] amoeba commented on #83
Okay, all done. I tested compatibility by merging this branch onto dev-2.11-encoding and testing them together. Ready for review and/or merge.

[2020-05-14 00:23] amoeba commented on #653
While reviewing ZenHub I realized I hadn't closed out #1355 yet. That'll need closing before this merges. Sorry about that. I'll take a look at #1355 now.

[2020-05-14 02:11] amoeba commented on #1355
Turned out to be a bit of a red herring and was actually caused by a double-save issue which was itself caused by a race condition in DataPackage.save()'s logic. See https://github.com/NCEAS/metacatui/commit/0455281ca18b9c686680ff799cfb1ece918d3a7c for a writeup. I modified the logic to guard against the race condition and have tested that the double-save goes away.

[2020-05-14 02:12] amoeba commented on #653
Okay, #1355 is all sorted. I moved this and #1355 to the Review/QA column in ZenHub.

[2020-05-14 15:26] laurenwalker commented on #653
Thank you! I'm going to try to review this and get merged today.

[2020-05-14 17:09] #1377 closed

[2020-05-14 17:11] laurenwalker commented on #1378
I've tried to reproduce this bug and I can't. I can only think this is happening when you change a field and the focus hasn't left that field yet. The view listens to the `focusout` event to show the button. That listener could be improved.

[2020-05-14 17:24] #1378 closed

[2020-05-14 17:24] laurenwalker commented on #1378
I updated this so that the button shows whenever there is a `keypress` event

[2020-05-14 17:44] laurenwalker commented on #1349
Hey Rushi, this looks good! I merged your changes into the dev-2.11 branch.

However I do think we should populate the `portalLabelBlacklist` with all the node ids and names dynamically, by using all the node ids retrieved from the CN node service. What we could do is keep all the hard-coded node names in the AppModel like we have now, as a fast check, and then in `PortalModel.checkLabelAvailabili

[2020-05-14 17:44] #1349 closed

[2020-05-14 17:54] laurenwalker opened #1387 "Check node list for node ids when checking portal label availability"
We should populate the portalLabelBlacklist with all the node ids and names dynamically, by using all the node ids retrieved from the CN node service. What we could do is keep all the hard-coded node names in the AppModel like we have now, as a fast check, and then in PortalModel.checkLabelAvailability(), we send both a request to Solr to check for portal labels AND a request to the /cn/v2/node en

[2020-05-14 18:45] laurenwalker opened #1388 "Figure out cache issues"
We run into issues with MetacatUI caches often.
Our current cache-busting method of adding the metcatui version as a param to all components of the app only works if the browser grabs the latest index.html. I think we can fix this in Apache, but needs some testing.

[2020-05-14 18:50] jeanetteclark commented on #1091
I noted today that users can enter their own publisher information. It seems to me that they shouldn't be able to do this - the field is usually misinterpreted anyway. So as part of this issue I think we should consider removing that ability from the UI

[2020-05-14 18:56] mbjones commented on #1091
Agreed, or at least make it a config option as to whether it shows up.

[2020-05-15 03:37] #1332 closed

[2020-05-15 19:53] laurenwalker commented on #1358
Thinking about this, I'm not sure there is a way we can do this without implementing a server-side portal label service (which could be helpful for other reasons). This is because portals are found by MetacatUI by searching Solr for the portal label. If the portal is private, Solr will not return that result at all. The only way to know an object is private is to retrieve it's system metadata via

[2020-05-15 20:19] laurenwalker opened #1389 "FAQ"
This is a list of frequently-asked questions that the NCEAS/DataONE dev team have received by the following groups of people:
- Metacat and MetacatUI end users
- Metacat and MetacatUI developers
- Metacat and MetacatUI administrators (data managers, etc.)

The goal of this list is to collect these questions as they come in via email and Slack so they don't get lost to the sands of time. Then we ca

[2020-05-15 20:28] laurenwalker commented on #1389
How can we add/modify access to data packages in MetacatUI?
Once a package is published with DOI, we will want to edit/update as needed - edits may be in R and may be in MetacatUI - once edits are done we will want to re-publish with a new DOI, correct?
can we change the type of file in MetacatUI?
How can I assign a series ID via MetacatUI?
How do you  change the extents of the map in the search v

[2020-05-15 21:29] laijasmine opened #1390 ""More info" link missing from large datasets"
For datasets with hundreds of files, the section "Files in this dataset" appears to be missing the "more info" link that connects it to the corresponding metadata below.

For example this can be seen in this dataset (with >300 files):
https://doi.org/10.18739/A2SN4C

Others with similarly large values can be found through the ICECAPS portal:
https://arcticdata.io/catalog/portals/icecaps/Data

[2020-05-15 23:38] amoeba commented on #1390
Thanks for the report @laijasmine, and for the links to an example showing the  behavior. We don't show the More Info link when the package has more than 150 members:

https://github.com/NCEAS/metacatui/blob/8dd897b607a15d848f7516becceca396359b9d2c/src/js/views/PackageTableView.js#L53:L53

This limit appears to have been put in for performance reasons. If I disable the limit, expanding the package

[2020-05-16 01:40] amoeba commented on #1037
This started out straightforward but ended up being more complicated than I thought. It's easy to get the editor to start upgrading older 2.1.1 docs to EML 2.2.0 and serialize/edit 2.2.0 docs _created from the editor or other 2.1.1 docs_.

But then went on to test round-tripping w/ our data papers example 2.2.0 doc from the EML repo which has a lot more stuff than is supposed in the editor. I foun

[2020-05-19 19:05] mbjones opened #1391 "custom filters don't clear on Icecaps portal"
**Describe the bug**
When using the custom filters from the Icecaps portal (https://arcticdata.io/catalog/portals/icecaps/Data), the filters only clear for the Data Stream dropdown, and not for the Year dropdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://arcticdata.io/catalog/portals/icecaps/Data
2. Click on the Year dropdown, and select a year (say 2014)
3. Note the Year

[2020-05-19 21:00] laurenwalker opened #1392 "Editing packages with data that you don't have changePermission on"
I tried editing a data package with 3 data objects:

Data obj 1: I have read, write, and changePermission
Data obj 2. I have read permission only
Data obj 3. I have read permission only

The resource map and metadata doc were updated successfully, but the Data 2 and Data 3 were not included in my new package. The editor attempted to update the sys meta of Data 2 and Data 3 (as a part of the DataPa

[2020-05-19 21:03] laurenwalker opened #1393 "Disable "replace" option for files that I don't have changePermission access"
While testing the replace files branch, I ran into this issue. If I have changePermission permission on a resource map and metadata doc, but not on a particular data object in that package, I should not have the ability to replace the file for that data object.

The Replace feature should be disabled both in the UI (the option should be disabled via HTML/CSS) and in the models - so that even if a

[2020-05-19 21:04] laijasmine commented on #1390
@amoeba Thank you for taking the time to look into this!  I would rather go with (1). Right now it isn't too problematic because datasets with hundreds of files tend to have about the same information in all of them usually command+F does the trick.

[2020-05-19 21:18] laurenwalker opened #1394 "Update entity name on replace doesn't work sometimes"
When a user replaces a file and the file name has changed, I wonder if we want to update the entity name in the metadata as well? We *do* update the fileName in the system metadata. Typically, these file/entity names match, but they don't have to.
Thoughts?

[2020-05-19 21:34] #1359 closed

[2020-05-19 21:34] #1355 closed

[2020-05-19 22:04] laurenwalker commented on #1394
Actually, after testing some more, it seems that the entity name does get updated, but sometimes it doesn't work.  I haven't found the exact conditions under which it doesn't work, but I will update this if I find them.

[2020-05-19 22:43] jeanetteclark commented on #1394
I thought that I had opened an issue for removing the ability to edit the entityName entirely in metacatUI. Often users mis-interpret this field, and IMO it should be the same name as what exists in the system metadata.

Because of this, my vote is to update the entityName in the metadata to match the fileName in the sysmeta

[2020-05-19 23:47] mbjones commented on #1394
That is not the main intent of that field, although I agree it sometimes contains filenames.  The filename for an object in EML goes in e.g., `dataTable/physical/objectName`, and that should definitely match system metadata.  The entity name is meant to differentiate entities, sometimes in files that might contain multiple entities.  For example, in an excel file named with a physical `objectName`

[2020-05-19 23:54] amoeba commented on #1393
Nice catch! I hadn't even though about permissions. I'll get this patched in.

[2020-05-20 14:38] laurenwalker opened #1395 "Add "Undo" for remove"
Today while testing the Replace feature, I accidentally clicked Remove. The file was promptly removed from the table and there was no way to undo it, except to exit out of the editor and lose all other changes.

Perhaps we could keep the DataItemView table row in the table with everything greyed out and a "Removed. Undo?" link on it.

[2020-05-20 15:17] laurenwalker opened #1396 "Renaming and replacing at same time doesn't update fileName"
**Describe the bug**
After replacing a file, if you update the file name in the table row, then click Submit, the file name does not get updated in the system metadata.

**To Reproduce**

Open dataset in editor.
Replace file.
Type a new name for the file in the DataItemView
Click Submit
Click View dataset, and see that the old file name is still there.

See screengrab:
![replace](https://user-imag

[2020-05-20 15:21] laurenwalker commented on #1394
Okay, so perhaps we should never update the entityName when replacing files.

I think we can keep the behavior where the entityName is set to the fileName upon initial upload, just to get the user started.

[2020-05-20 15:56] laurenwalker opened #1397 "Replacing a file with a duplicate breaks DataONEObj-EMLEntity relationship"
This may be an edge case, but since it breaks the ability to properly edit the dataset, I think it should be fixed.

Here is the scenario:
1. I have a dataset with three files, Data1.csv, Data2.csv, Data3.csv
2. I open the dataset in the editor
3. I replace Data1.csv with a file that is named Data3.csv (the contents of the file are irrelevant, but the file name has to be a duplicate of another in

[2020-05-20 16:11] laurenwalker commented on #653
@amoeba - I merged master into your feature branch and did a bunch of testing. It looks great!

I found 3 bugs (#1393, #1396, #1397) and 1 improvement (#1395) that should be made before we put this into production. If you view this ticket in Zenhub, you'll see I added them as blockers: https://app.zenhub.com/workspaces/data-portal-infrastructure-5d057ceca88c9959aefd0159/issues/nceas/metacatui/653

[2020-05-20 16:14] laurenwalker opened #1398 "Add try, catches to replace file functions"
Add try, catches to the new replace functionality. These should catch errors and abort the replace so that if something goes wrong, the user can still submit the rest of their dataset, just without the new file.

[2020-05-20 16:15] laurenwalker commented on #653
Oh, I also added #1398, which needs to be done before release as well. Thanks

[2020-05-20 16:47] laurenwalker opened #1399 "Date ranges in text filters are wrapped in quotes"

[2020-05-20 16:49] #1279 closed

[2020-05-20 16:49] #1399 closed

[2020-05-20 17:05] laurenwalker opened #1400 "Add ability to create seriesId for every dataset"
There should be a MetacatUI config for creating a seriesId for each metadata doc that is created. I believe ESS-DIVE did this by extending the DataONEObject or EML model, so perhaps that code could be merged in and maintained in the MetacatUI codebase.

[2020-05-20 17:12] mbjones commented on #1400
While I think this would be a good option to have in MetacatUI, I don't think we would want it enabled by default in our repositories. In general, for the Arctic Data Center, the KNB, and our hosted repositories, it would be better to not assign series IDs to our data sets. SeriesIDs give users multiple identifiers to cite and doesn't provide the clear guidance that they should be citing the PID (

[2020-05-20 17:38] jeanetteclark commented on #1391
This got fixed I believe - combination of a SOLR syntax issue and a metacatUI issue where the search string was being wrapped in quotes

[2020-05-20 17:51] #1391 closed

[2020-05-20 18:08] laurenwalker commented on #1400
This came up in a discussion with Rani from OPC and Jeanette, when we were talking about the to-be-developed AccessPolicyView in the EML editor. Here's why:

Both OPC and Arctic Data users may want to make edits to a data package after it has been published, but they want these new edits to remain private until they are done. So a user might click edit on their published dataset, make some changes

[2020-05-20 18:17] mbjones commented on #1400
Thanks for the additional context -- really helpful in understanding the use case. There may be other ways to provide the version chain info that could solve your issue too. The problem is that we are not indexing versions very well right now, so the step-by-step traversal of the version chain is needed. I proposed that we provide much more convenient access to version chain info from any document

[2020-05-20 18:25] laurenwalker commented on #1400
Thanks Matt, the API outlined in that Metacat ticket would be very useful and would solve this issue. I'll bring it up at our dev team tomorrow so we can discuss timelines.

[2020-05-20 18:32] laurenwalker commented on #1390
Thanks Jasmine and Bryce for describing this issue.

Yes, we implemented this particular behavior for performance reasons. I agree with Jasmine that we should just stick with this behavior for now, even though it's not ideal, just because we have so many critical priority items open right now.

[2020-05-20 18:35] laurenwalker commented on #1360
I did this here: https://nceas.github.io/metacatui/configuration/index.html

[2020-05-20 18:35] #1360 closed

[2020-05-20 19:49] amoeba commented on #1393
Hey @laurenwalker, I ended up putting all the logic for this into the UI side since all the model work is also done there. Replacement is disabled by default and eventually will be enabled once MetacatUI gets back the sysmeta indicating we have permission. See https://github.com/NCEAS/metacatui/commit/2eff80cb5c1d7e6e83178ca792a0597d68e3f69f. Did you have something in mind for the model side of th

[2020-05-20 19:49] amoeba commented on #1390
Sounds good, thanks @laurenwalker .

[2020-05-20 20:08] amoeba commented on #1393
@mbjones noted that we can relax the permission to `write` so I've made that change.

[2020-05-20 20:50] laurenwalker commented on #1393
Looks great, thanks!

[2020-05-20 20:50] #1393 closed

[2020-05-20 22:33] amoeba commented on #1396
Hrm. I'm actually seeing something weirder. Replacing an item then renaming it causes the item to not be replaced at all. I did find one bug unrelated to the replace feature that might be related but doesn't explain what I'm seeing. I'll keep looking.

[2020-05-20 22:49] laurenwalker opened #1401 "Invalid XML characters error"
The following characters were inserted into an EML doc and caused an XML validation error: `DÃ©partement de gÃ©ographie, UniversitÃ© de MontrÃ©al &#x26; Centre dâ€™Ã©tudes nordiques`

It looks like this is only an issue in Firefox. Chrome and Safari strip out these characters from form input fields, but it looks like FF doesn't.

[2020-05-20 23:34] mbjones commented on #1401
Stripping out the characters does not seem like a viable approach either.

Part of the problem could be that we don't seem to be setting the charset on the HTML page for MetacatUI.  The [W3C page on encoding declarations](https://www.w3.org/International/questions/qa-html-encoding-declarations) says to provide it as:

[code]

When I run the ADC page through the W3C Validator, it spits back an imme

[2020-05-21 00:56] amoeba commented on #1396
Okay, this is now fixed.

This was a new bug introduced with the replace functionality due to how I had to fiddle with the object being replaced to get the editor to send the right API calls. See the commit (above) and its message for more detail.

It strikes me as a bit messy for something that feels like it should be simple but it works. Anywhere in the UI that deals with a replaced item's sysme

[2020-05-21 17:00] rushirajnenuji commented on #1351
Added a flag to display replicas only for repository profiles. Also updated some CSS rules for the summary charts.

[2020-05-21 17:00] #1351 closed

[2020-05-21 18:00] rushirajnenuji commented on #1338
Updated the search filters to perform case insensitive searches against already retrieved node model.
Relevant commits: https://github.com/NCEAS/metacatui/commit/c65c45ab3d3b29aaddab7e8dc16daec961ef232c

[2020-05-21 18:00] #1338 closed

[2020-05-21 23:10] mbjones commented on #567
@rushirajnenuji I thought that you were working on this ability to format citations using CSL formatting styles. Is there another ticket that is tracking its progress?

[2020-05-21 23:19] mbjones commented on #1382
This issue is probably a duplicate of #1070, but there are relevant details in each. The tickets should likely be consolidated.

[2020-05-21 23:48] mbjones opened #1402 "support creating and editing EML 2.2.0 annotations"
**Describe the feature you'd like**

EML 2.2.0 added the eml-semantics model, which we need to support in the editor. See https://eml.ecoinformatics.org/whats-new-in-eml-2-2-0.html#supporting-semantic-metadata We should support at least two major types of annotations (in priority order):

1. annotations on eml attributes for measurement types
2. general dataset-level annotations

**Is your feature

[2020-05-21 23:49] mbjones commented on #1323
Related to issue #1402

[2020-05-22 00:03] mbjones opened #1403 "support structured funding info from EML 2.2.0"
**Describe the feature you'd like**
Structured funding information was added to EML 2.2.0: https://eml.ecoinformatics.org/whats-new-in-eml-2-2-0.html#structured-funding-information We should support editing that more detailed information.

- [ ] Display structured funding info
- [ ] Edit structured funding info

**Is your feature request related to a problem? Please describe.**
Its difficult to ma

[2020-05-22 00:11] mbjones opened #1404 "supporet structured license info from EML 2.2.0"
**Describe the feature you'd like**
EML 2.2.0 introduces machine-parsable licenses, as described here: https://eml.ecoinformatics.org/whats-new-in-eml-2-2-0.html#dataset-license We should support display and editing of this license information, and conversion of earlier licenses like CC-0 and CC-BY to the new format when they are found in existing EML 2.1.1 documents in the `intellectualRights` fi

[2020-05-22 18:20] laurenwalker commented on #1401
I added this to the HTML head:
`<meta http-equiv="Content-Type" content="text/html; charset=utf-8">`

and fixed a few other HTML and CSS validation errors.

I also added some code that strips the input of any Unicode characters that are not in the list of valid XML characters, per https://www.w3.org/TR/xml/#charsets

[2020-05-22 18:20] #1401 closed

[2020-05-27 00:59] amoeba commented on #1398
Hey @laurenwalker, could you help me understand what you had in mind here? Were you able to get the replace feature into any particular failure states?

About all I can imagine doing is try-catching the entire method body and having the catch block re-set the Model attributes to what they were before replace and re-render the DataItemView.

[2020-05-27 01:04] amoeba commented on #1395
I like the idea of keeping the row there and visually indicating the item will get removed. Because we're not using a state management library, I don't think it'd be particularly easy to implement full undo/redo so something like this sounds like a good middle-ground.

[2020-05-27 01:06] amoeba commented on #1397
Super nice catch, thank you! It's not readily apparent what's going on so I'll have a look and update back here.

[2020-05-27 05:03] amoeba commented on #1397
Okay so this interacts with something I was already aware of but this breaks it in a funny way because of the shared file name. A few places in MetacatUI have baked in algorithms for matching up items in the package with entity descriptions in the EML. The algorithms include comparing PIDs, checksums, and even file names. When doing the replacement of an item in the package, I didn't update the `i

[2020-05-27 16:43] laurenwalker commented on #1397
Thanks for the detailed write-up, Bryce.

I think this is the way to go:

The flow right now is that when a new file is uploaded, a DataONEObject model is created. The `DataONEObject` `default` attribute for `id` is a generated uuid:

https://github.com/NCEAS/metacatui/blob/92edadcafcbb04dec6ddc8e24b48cc80fff79051/src/js/models/DataONEObject.js#L54

So when the EMLEntity is created later, it uses

[2020-05-27 16:48] laurenwalker commented on #1398
This is what I was thinking. I didn't come across any errors, but I think we should be wrapping methods in try, catches as much as possible so that we catch unknown errors in the future.

[2020-05-27 19:14] amoeba commented on #1398
Sounds good, I'll get that added.

[2020-05-27 19:16] amoeba commented on #1397
Cool, I hadn't thought about going about it that way but it sounds better than what I was thinking of doing. I'll see how that works.

Sounds good.

Thank you!

[2020-05-27 23:37] jeanetteclark commented on #612
I'm going to bump this issue with a comment, since it is something that we regularly do for PIs as part of our dataset processing

[2020-05-28 00:33] mbjones commented on #612
I'll second @jeanetteclark 's bump, and add a high priority label. I think this type of change would easily be added to the existing attribute editor, and so unless the attribute editor refactor can be done very quickly, this should probably be done to the existing editor first. Missing value codes are key metadata that we need to be collecting.

[2020-05-28 00:35] amoeba commented on #1398
Got this done and tested in c62eb059a5043b437a5ea564e14782088ffa43e4. To copy the pre-replace state, I went with a selective `_.clone` of only the attributes we change. I was able to test by tossing a `throw` in four or so different places inside the `try-catch` and making sure things got reverted correctly.

[2020-05-28 17:20] laurenwalker commented on #523
Hey Bryce, I was reviewing this branch today and it looks good, and since we've tested on test.arcticdata.io for a while, I think it's ready to merge into the dev branch, so I'll do that today.

For these items:

Yes, I think we should do all of those. But they don't need to be completed at the same time as this work, so I will create a new ticket for each and we can work them in after we finish u

[2020-05-28 17:20] #523 closed

[2020-05-28 17:23] laurenwalker opened #1405 "Encode user and group ids in URLs"
From #523:

I believe the only place we have the user and group ids in URLs right now is in the user and group profiles (e.g. /profile/{orcid}). We will soon be moving these profiles to the /portals path, but the issue remains the same.

[2020-05-28 17:24] laurenwalker opened #1406 "Encode metadata assessment suiteIDs in URLs"
From #523:

e.g., MetacatUI.uiRouter.navigate("quality/s=" + suiteId + "/" + encodeURIComponent(this.pid), {trigger: false});

[2020-05-28 17:26] laurenwalker opened #1407 "Encode portal labels and section names in URLs"
From #523:

e.g., MetacatUI.appModel.get("portalTermPlural") + "/" + label + "/" + portalSection);

[2020-05-28 17:38] #1398 closed

[2020-05-28 17:45] laurenwalker commented on #1396
Thanks, this works for me too now

[2020-05-28 17:45] #1396 closed

[2020-05-28 18:39] laurenwalker commented on #83
After testing this out, I found that it only worked for datasets that had the identifier in the HTML produced by the Metacat view service, which is not always the case. If an EML doc has only basic entity metadata, such as an entity name, then it didn't work. So I restructured it a bit to leverage the work already done by `MetadataView.findEntityDetailsContainer()`, which goes through several chec

[2020-05-28 18:39] #83 closed

[2020-05-28 18:55] laurenwalker opened #1408 "Forward /view/data-id routes to /view/metadata-id#data-id"
In #83, we introduced hash fragments in the MetadataView URLs that allow people to route to data objects by using a path pattern of `/view/{metadata-id}#{data-id}`

Example:
`view/urn%3Auuid%3Ad64bca79-7bb7-4eb1-9b25-047fd64f32a9#urn%3Auuid%3Ad64bca79-7bb7-4eb1-9b25-047fd64f32a9`

We have always supported and will continue to support direct navigation to data objects by using only the data identif

[2020-05-28 19:16] mbjones commented on #1408
This seems good. I would also propose a similar routing for our proposed `/datasets` routes that are not metacatui-centric. We had an extensive discussion on this topic in DataONE:

https://redmine.dataone.org/issues/8601

[2020-05-28 19:55] laurenwalker opened #1409 "Hide 'replicas' stat in MN profiles when there are 0"
It's not a very flattering statistic to show that there are 0 replicas in a repo

[2020-05-28 20:00] laurenwalker opened #1410 "Metrics tab in MN portal is empty"
I navigated to the mnTestKNB portal and clicked on the Metrics tab, and the view is empty.

A caught error in the console:

`PortalMetricsView.js?v=2.10.0:232 Failed to render the metrics view. Error message: TypeError: Cannot read property 'includes' of undefined`

[Screen Shot 2020-05-28 at 2.57.04 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/bc66117b-55c5-4e03-9d38-cb9b

[2020-05-29 21:18] rushirajnenuji opened #1411 "Redesign summary of holdings section"
Remove the circle badges from the summary of holdings and redesign the metrics making them more visually appealing. Chris and Lauren and I have finalized a design for this.

[2020-05-29 21:20] rushirajnenuji commented on #1411
- [ ] Make the helper text more `subtle` for this section.

- [ ] restructure the container to move the text below the metric count

[2020-05-29 21:23] rushirajnenuji commented on #1410
Additional subtasks:

- [ ] Include better error handling before rendering the metrics.

- [ ] Include check for object types before performing object-specific operations.

[2020-05-29 21:23] laurenwalker commented on #1411
Here's the screenshot I took yesterday after we played around with the CSS a bit:

![Screen Shot 2020-05-28 at 4 27 41 PM](https://user-images.githubusercontent.com/6643222/83306725-b88cfc80-a1c8-11ea-868b-e4911bc6d17f.png)

[2020-05-29 21:25] rushirajnenuji opened #1412 "Hide the replicas from the DataONE profile"
Replica stats should not show up on the DataONE profile

**To Reproduce**
Steps to reproduce the behavior:
- Go to 'https://search.dataone.org/profile' (branch: `feature-repository-portal-metrics`)

[2020-05-29 21:28] rushirajnenuji opened #1413 "Repository profiles display for all themes"
Right now the repository profiles are rendered as a portal view only for the DataONE theme. Include support for all MetacatUI themes

[2020-05-29 21:32] rushirajnenuji commented on #1295
Tasks:
- [ ] Make the CSS responsive for updates chart

[2020-06-01 18:13] robyngit commented on #1316
Left to do:
- [ ] Move the markdown editor out of the `portEditorMdSection` view into its own view so that it can be used anywhere it's required (e.g. for EML editor)

[2020-06-01 18:39] robyngit opened #1414 "In the markdown image uploader, add the ability to search for and select images from the dataset collection"
In the markdown editor view, allow users to browse & search images that are contained in datasets in the collection, then add those images to the markdown textarea.

For the MVP version, we should just insert a citation and link for the associated dataset as an image caption. Eventually, we'll want to add a citation to the portal document and reference that citation from the markdown.

In the futu

[2020-06-01 18:48] robyngit opened #1415 "Design and implement a way to add the custom search filters in the portal editor"
We don't have any mockups for this feature yet, so the first step is to create some options of how this will look & work.

[2020-06-01 18:53] jeanetteclark commented on #1402
Given our project to assign Arctic Data Center datasets a theme based on a custom vocabulary, it would be good to enable support for a user to assign their own dataset (via annotating the dataset element) a theme based on a custom list. A dropdown menu or lookahead would be really cool.

[2020-06-01 20:36] amoeba commented on #1397
Okay, I implemented the check to see if the ID needs updating. To avoid adding yet another state attribute to the model, I re-used `oldPid`: If set, don't update again. If not set, update. And then, on save or error, reset `oldPid`. Let me know what you think.

Re:

I found that EML211.getEntity actually already walks over custom ids. And allowing id attributes that can't be matched to an object i

[2020-06-01 22:40] #1346 closed

[2020-06-01 22:41] laurenwalker commented on #1356
In #1346, the Stats model was refactored, so no work is needed for the StatsView:

This is partially getting addressed in #1346. There are 9 total queries sent to Solr to render the various graphs, which I won't go into right now, but they should be looked at.

[2020-06-01 22:44] laurenwalker commented on #1346
This work is now complete. The StatsView now just sends two queries to Solr - one for the metadata stats and one for the data stats. When the StatsView is used for queries based on science metadata filters, it uses a Solr `join` on the `resourceMap` field. This fixes the broken Metrics tabs for portals.

[2020-06-02 03:54] laurenwalker commented on #1397
That all sounds good to me, Bryce Thank you

[2020-06-02 20:59] amoeba opened #1416 "Fix failing tests in EMLNonNumericDomain and EMLEntity suites"
**Describe the bug**
Two test are failing:

- EMLNonNumericDomain "should return a modified text domain definition and pattern"
- EMLEntity "should return an otherEntity id"

They both appear to be of the same type of faliure.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the tests by opening test/index.html in a browser

**Expected behavior**
All tests should pass

**Additional contex

[2020-06-03 17:24] laurenwalker opened #1417 "Can't go back when clicking link to search.dataone.org"
search.dataone.org redirects to /data, so when clicking the back button, the user can never get to the page before search.dataone.org. This seems to only happen in FF and Safari

[2020-06-03 18:26] robyngit commented on #1417
This bug happens for me in Chrome as well (Version 83.0.4103.61), but not in every circumstance.

- If I click a [link to the search page](https://search.dataone.org), then I **cannot** navigate back.
- If I copy paste the search url (`https://search.dataone.org`) into my nav bar, I **can** navigate back to this page with the back button, but not every time.

[2020-06-03 18:37] amoeba commented on #1037
Nearly done on this. I found a few programming errors and a few other areas where there was hard-coded logic that needed to be updated. I'm now able upgrade existing EML 2.1.1 docs and also round-trip existing EML 2.2.0 that use portions of EML we don't support in the editor (annotations, data paper stuff, etc). I think I can wrap this up by the end of the week if not earlier.

[2020-06-03 20:52] laurenwalker opened #1418 "Data files removed from package when there isn't changePermission permission"
To reproduce:
- Create a data package with an object where the user only has 'read' permission. (This may happen with 'write' permission as well)
- Edit any metadata field in the package and click save
- The resource map, EML, and other data objects save successfully. However, the data object with 'read' only permission results in a 401, and it is removed from the package.

- [x] When system metad

[2020-06-03 22:22] laurenwalker commented on #1397
I tested your feature branch today and encountered a save error:

```The requested identifier urn:uuid:495e55ad-ceb4-4fdb-9a81-d341085d5df5 is already used by another object andtherefore can not be used for this object. Clients should choosea new identifier that is unique and retry the operation or use CN.reserveIdentifier() to reserve one.```

To reproduce:
- Upload a dataset with Data1.csv, Data

[2020-06-03 22:35] amoeba commented on #1397
Thanks much for testing. Though, I can't reproduce. I tried a few permutations of your above steps since I wasn't sure exactly what you did and I can't see any issues. I

1. Go to submit to create a new package
2. Fill in basic metadata, add files named Data1.csv and Data2.csv in the same Add Files operation
3. Save the package
4. Edit the updated package
5. Replace Data2.csv with a file named Dat

[2020-06-04 18:26] laurenwalker commented on #1278
I'm going to close this issue because I think it's a non-issue. Right now we make all images uploaded via the ImageUploaderView public. If a portal is private, the images contained in it will be public, but no one can access them except through the DataONE API. I don't think the time spent to complete this functionality is worth the investment, so closing.

[2020-06-04 18:26] #1278 closed

[2020-06-04 18:34] laurenwalker commented on #1301
This is lower priority than finishing up #1261 and getting user and group profiles into the portals view. Let's skip this for now and revisit later.

@rushirajnenuji - you said you had started on a script to automatically generate portal docs from the node info. Can you create a repo for that script and link to it here so we can pick back up on that later on? Don't worry about making it workable r

[2020-06-04 18:38] #1394 closed

[2020-06-04 18:48] laurenwalker opened #1419 "Update DataONE navigation to new style"
This includes finding a place in the new nav style for the MetacatUI-specific links.

[2020-06-04 18:48] laurenwalker commented on #1310
This will be completed when the entire navigation is changed to the new navigation style - #1419. Closing

[2020-06-04 18:48] #1310 closed

[2020-06-04 18:59] laurenwalker commented on #1345
Adding this to the Plus/Hosted Repo MVP release, since we need to figure out this overall design before putting the portal editor into production in DataONE.

Things to consider:
- If group profiles are entirely replaced by their corresponding portal, we still need a way to edit that group. (add/remove members, etc.) Should we expose this view in the portal Settings tab? Keep it in the user settin

[2020-06-04 19:00] rushirajnenuji commented on #1301
Hi @laurenwalker  - yes, I had started working on this last week. [DataONEorg/collections-portals-schemas/tools](https://github.com/DataONEorg/collections-portals-schemas/tree/master/tools) - is this a good place to check in the script?

[2020-06-04 19:25] laurenwalker opened #1420 "Check portal status before showing metrics and FAIR charts"
Only active portals should show the metrics and FAIR charts. Use the bookkeeper API to check the portal status and if it is archived, hide the charts.

[2020-06-04 19:54] laurenwalker opened #1421 "Add portal quota info to the "My portals" view"
In the DataONE theme only:

- [ ] Display a graphic that shows the portal usage, e.g. "1/3 portals remaining"

- [x] Disable the Edit button for inactive portals. Possibly show an "inactive" icon for these portals as well

- [x] Render this My Portals list from the bookkeeper service, not the Solr index.

[2020-06-04 19:55] laurenwalker opened #1422 "Write tests for the portal editor and view"

[2020-06-04 20:38] laurenwalker opened #1423 "Don't create <deny> access rules"
The Access Rule api only allows for <allow> elements. THere is one part of MetacatUI that uses <deny> elements, so we need to change that.

[2020-06-04 20:59] laurenwalker commented on #1301
Yep, that location works fine. Thanks

[2020-06-05 04:14] amoeba opened #1424 "Remove EML version specific language from filenames and models"
(I'm writing this up so others on the team can see how we could do this but we may decide not to once we see what it involves).

We want to support EML 2.2.0 in the editor but _not_ support n past versions of EML in the same codebase. EML is designed such that old versions can be migrated to the newer version via transformation. So we can make all of the Backbone models for the editor support 2.2.

[2020-06-05 05:42] mbjones commented on #1424
I like the plan in principle.

[2020-06-05 17:15] laurenwalker commented on #1424
This looks good to me. Thanks for the additional info. Let's just make sure we do a lot of testing on the display and editing of EML 2.1.1 and EML 2.2.20 docs before merging into a dev branch.

[2020-06-05 17:21] laurenwalker opened #1425 "Improve "not indexed" portal message"
Currently, when someone tries to view a portal and there is an index queue, we show a message that the portal may still be processing (indexing). A user mistook this message for an error message, and submitted a portal twice. We should improve this message in a couple ways:

- Make the message look less like an error message.
- Divide the message into a short heading and smaller text details (Peop

[2020-06-05 21:24] laurenwalker opened #1426 "Serialize replication policies to system metadata"
Add a default ReplicationPolicy to the AppConfig and create this replica policy in the sys meta for every new object.

[2020-06-05 23:45] amoeba commented on #1424
Now that you bring up the merge, I think we'll have a lot of trouble if we do that and spend more than a day testing on a feature branch before merging because of the path changes involved. I think the best way to go would be to save my work here, get the above two commits on `dev-2.12` quickly, and add any work on top of that. I could do that work over next Monday so it doesn't hold up any other

[2020-06-08 05:43] helbashandy opened #1427 "Checkboxes in filters are aligned to the right"
**Describe the bug**
On the UI, you can see filters aligned to the right. See below:

![Screen Shot 2020-06-07 at 10 20 37 PM](https://user-images.githubusercontent.com/47407500/83996107-2a272200-a910-11ea-8851-8d9d2da2e25a.png)

You can see this on both ESS-DIVE and KNB.

**To Reproduce**
Go to https://dev.nceas.ucsb.edu/data and open `year` filter.

**Expected behavior**
It should be aligned to

[2020-06-09 17:53] amoeba commented on #1424
@laurenwalker and I chatted in Slack just now and we're going to wait until the 2.12 branch is tagged, the 2.13 branch is created, and then we'll apply this to the 2.13 branch so all 2.13 branch work is done on top of it.

[2020-06-09 19:20] amoeba commented on #1397
@laurenwalker and I hopped on a call this morning and she showed me her steps. The key was not routing away from the editor after the a save and the bug isn't specifically to do with replacing an item but does have to do with my recent change to how `oldPid` and `updateID` works. In that change, I didn't the propagate the post-save reset (`model.set("oldPid", null)`) to the `EML` and `PackageModel

[2020-06-09 22:22] #1397 closed

[2020-06-09 22:22] #653 closed

[2020-06-11 16:26] #1237 closed

[2020-06-11 20:20] gothub opened #1429 "Assessment suite on search.dataone.org vs mn suite"
The default assessment suite when viewing datasets on search.dataone.org will be the FAIR suite.

Will this be confusing for users that view a dataset on an MN with one quality suite,
and then see a potentially different view on search.dataone.org? Currently this is only an issue for KNB, ARCTIC, ESS-DIVE (that have their own assessment suite)?

There will be more instances of this, as custom qual

[2020-06-11 20:38] laurenwalker commented on #1429
Is there a way to get a list of suiteIDs available for a repository/member node? (From the quality API, the Solr index, etc.?)

[2020-06-12 02:03] amoeba opened #1430 "EMLParty model unnecessarily changes XML IDs"
When editing an EML doc that has `id` attributes on a `<creator>` element, e.g.,

[code]

I ended up getting errors on save about missing references. It turns out this document had internal references such as:

[code]

and the editor's EMLParty model was always overwriting whatever was already being used as the `creator` element's `id`. You can see from that code why this is called every time we r

[2020-06-12 03:44] amoeba commented on #1037
Okay, took another look at this tonight and I'm happy with where things are. I ended up finding a few unrelated bugs while testing so it was useful overall.

I spent the most time testing round-tripping to ensure we're not losing anything when we bring in EML 2.1.1 docs or when we're editing EML 2.2.0 docs that make use of elements that don't have associated fields in the editor to manipulate. I t

[2020-06-12 17:58] laurenwalker commented on #1430
I agree that we should be reusing IDs if they are already there. I don't remember any discussions about why we chose to do it this way - it may have been simply overlooked. Thanks for the catch.

[2020-06-12 18:01] laurenwalker commented on #1037
Awesome Bryce, that's great news. Here are some other testing ideas:

- old EML 2.1.1 docs from KNB (usually created from the old registry or Morpho)
- complex EML 2.1.1 created from Morpho
- Multiple rounds of editing and saving, with and without navigating away from editor view

[2020-06-12 18:30] rushirajnenuji opened #1431 "Update the Metrics model timeout."
Update the Metrics model timeout.

- adding this ticket to keep a track of this change.
- for some metric queries getting uncached data takes a long time.

[2020-06-12 20:05] robyngit commented on #1215
I think this bug is fixed with commit https://github.com/NCEAS/metacatui/commit/f2b77779fc0a5935173e2b3763472c923329dfc7

[2020-06-12 20:28] rushirajnenuji commented on #1284
Solved by updating app view to perform rendering new view after the fading is complete. Relavant commit: https://github.com/NCEAS/metacatui/commit/4e6ff968b95537df91a64dc80296828167f2a4b4

[2020-06-12 20:28] #1284 closed

[2020-06-12 21:12] amoeba commented on #1037
Ooh, those are great suggestions. Thanks.

[2020-06-15 14:29] robyngit commented on #1414
New mockups can be previewed interactively here: https://invis.io/JXXP391AVDP

[2020-06-15 16:22] rushirajnenuji commented on #1409
Solved by hiding replicas container for profiles with 0 replica count

[2020-06-15 16:22] #1409 closed

[2020-06-15 16:23] rushirajnenuji commented on #1412
Removed replica stats from DataONE profile
https://github.com/NCEAS/metacatui/commit/3bab14c12008f36a8d99e195a7834a428d9913ee

[2020-06-15 16:23] #1412 closed

[2020-06-15 17:40] robyngit commented on #1414
We reviewed the mockup in the Portals meeting today and added comments [directly in invision](https://invis.io/JXXP391AVDP). Next step is to start building the new interface while incorporating the feedback on the mockup.

[2020-06-15 19:08] #281 closed

[2020-06-15 20:16] laurenwalker commented on #1244
Hi @robyngit - I reviewed this branch today and it looks great. I pointed my local MetacatUI to search.dataone.org so I could test the display of our production portals and compare them to the display on their member node (primarily Arctic portals). Some issues:

- [ ] The DBO portal has an image in the markdown that displays on the MN:
![Screen Shot 2020-06-15 at 4.03.34 PM.png](https://images.ze

[2020-06-15 20:40] laurenwalker commented on #1316
Yay, this is awesome! It was very easy to use and everything seemed to work great.

A couple improvements:

- [ ] What do you think about changing the icon for "headings"? It wasn't obvious to me:
![Screen Shot 2020-06-15 at 4.24.14 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/339e04a1-6f7f-4cf8-a12c-b01799150ed4)

Is there a way to change it to a dropdown list to select a

[2020-06-15 20:41] #1169 closed

[2020-06-15 20:48] #1215 closed

[2020-06-15 20:52] laurenwalker commented on #682
Related to #1392

[2020-06-15 21:25] robyngit commented on #1316
Thanks for reviewing this! :)

Agreed, the `Tt` isn't so obvious. It looks like an `H` icon or `H1` / `H2` / `H3` icons are more common. The trouble is in part that FontAwesome 3.2.1 doesn't have anything appropriate. We could just use an entire word, like "Heading" or "Title". What do you think?

This seems much nicer, good idea! The heading button uses the default "add a header" function from wo

[2020-06-15 22:22] robyngit commented on #1244
Good catches! Fixed the first two (see commit 98e42d5). I can't immediately think of a reason behind the last issue, but I'll take a look.

[2020-06-16 00:03] amoeba commented on #1037
Okay, I ran through a few variants of those and didn't find anything. I did find a latent bug in the taxon model which I'll fix with this work. Done testing for now.

[2020-06-16 00:13] mbjones commented on #1037
That's awesome @amoeba .

Given the critical changes proposed here, I suggest that we should create a release candidate for this release that can be deployed on a testing server for @jeanetteclark, @laijasmine, and the datateam to give it a thorough spin. Or rather than a release candidate, I suppose it could go in the release if the EML 2.2 behavior is initially configurable on/off, and it gets t

[2020-06-16 13:20] laurenwalker commented on #734
These instructions are obsolete as of 2.12.0 when we moved to an external configuration. See #1237 and #281

[2020-06-16 13:20] #734 closed

[2020-06-16 13:50] laurenwalker commented on #1316
Let's make SVG icons for the `H1`, `H2`, `H3` icons and go that route. It would be great if each icon reflected the font size/style as much as possible (e.g. the `H1` icon would be the largest font, `H2` smaller, `H3` smallest, and all of them are bold).

If dividers, tables, and strikethrough are easy to add, let's get those in too. The equation builder and dataset citations can wait for another

[2020-06-16 13:52] laurenwalker commented on #1037
I agree with Matt about testing on test.arcticdata.io first. We could just deploy the feature branch there. Let's make sure the latest from `master` is merged in before we do that

[2020-06-16 16:54] laurenwalker commented on #560
Fixed in #930

[2020-06-16 16:54] #560 closed

[2020-06-16 21:04] gothub opened #1432 "Outdated KNB template"
The template `themes/knb/templates/metadataControls.html` contains an outdated link that is used to navigate to the assessment report from the metadata view. Here is the different between the standard template and `knb`:
[code]

The string `/s=knb.suite.1` is no longer necessary, and this hard-coded value will produce incorrect results when a new version of the KNB Suite is available.

Currently t

[2020-06-17 00:30] laurenwalker commented on #1432
It would be great if we could remove the knb-specific template and just rely on the default metadataControls.html template for all themes. I think it was only created to hard-code the knb suite in, but there may be other differences.

[2020-06-17 02:54] rushirajnenuji commented on #1295
Fixed this by re-rendering the svg.
reference commit: https://github.com/NCEAS/metacatui/commit/55abc86d82afda8ae4e244d7a648c377031e1519

[2020-06-17 02:54] #1295 closed

[2020-06-17 03:00] rushirajnenuji commented on #1411
Hi @csjx  @laurenwalker  - here's the screenshot of the updated summary of holdings section.

![Screen Shot 2020-06-16 at 7.53.11 PM.png](https://images.zenhubusercontent.com/5d152e0511232d5ce5b3f588/0d8b7e3f-3a3b-49ac-812c-79b9eb08e646)

This is deployed here: [.../**portals**/arctic](https://handy-owl.nceas.ucsb.edu/portals/ARCTIC)

[2020-06-17 15:25] laurenwalker commented on #1411
Hey Rushiraj, this looks really great! 🎉

[2020-06-17 15:25] #1411 closed

[2020-06-17 18:47] rushirajnenuji commented on #1350
Hi @laurenwalker

- The routing to /portals/{nodeId} is complete. Right now Portal View is the top view for repository profile views for this endpoint: `/portals`.

Here's the flow:

Case 1: when someone goes to `/profile/{nodeId}`
  - User view is the top view
  - the router does not know if this profile is a `user` or a `node` profile.
  - And it passes the username to UserView to render profile

[2020-06-17 19:25] #1410 closed

[2020-06-17 20:29] #1244 closed

[2020-06-17 20:29] laurenwalker commented on #1244
Thanks for the fixes! I looked into the issue about the dataset collections being different between the MN and CN and found that it's due to issues with some objects not indexing or syncing correctly to the CN. So I'll bring this up at our dev meeting on 6/18 and close this ticket.

The `feature-dataone-portals` branch is now merged into the `dev-2.13` branch.

[2020-06-17 20:47] laurenwalker commented on #1350
Thanks Rushi! I reviewed your changes and I agree with this:

Since I was already looking at the code, I just went ahead and made the change while I was in there. So I think this ticket is good to go, however, could you do some wuick testing on different browsers, especially IE/Edge? If that all looks good to go, then let's close this ticket. Yay!

Thank you!

[2020-06-17 20:50] rushirajnenuji commented on #1350
Thank you for reviewing Lauren! I'll get started with testing this on Windows.

[2020-06-18 19:22] laurenwalker opened #1433 "Clearing filtters in portal editor causes 100+ solr queries"
I am in the portal editor with a portal that has ~50 filters. I clicked "Clear all" and it looks like 100+ new queries were sent to retrieve the data search results. This also sent 100+ metrics queries for the search results. I think there may be a listener on "remove" from the Filters collection that should wait until all Filters are removed before refreshing the search results.

[2020-06-18 20:28] rushirajnenuji commented on #1431
This is just a small change, so I'm directly committing to the latest dev branch. Commit: https://github.com/NCEAS/metacatui/commit/da54bc0c3b412c4dd7f7fcf9e6b0346d6920e426

[2020-06-18 20:28] #1431 closed

[2020-06-18 21:50] laurenwalker opened #1434 "Boolean filters not displaying in editor"
ON dev.nceas, portal label: "cut34"

One booleanfilter is not showing up in UI, so there's no way to remove it

[2020-06-19 01:56] amoeba commented on #1037
Good idea on the R<->MetacatUI round-tripping @mbjones. I didn't find any specific bugs with this work but it did help me find a few pre-existing ones that I'll file separate or find an existing ticket for. Nothing high priority I'd say:

- Creates IDs when there aren't any and there's no reason to
- Overwrites existing `intellectualRights` values
- Rejects `boundingAltitude` sub-element of `geogr

[2020-06-19 13:29] laurenwalker commented on #1037
Thanks for finding those, Bryce!

[2020-06-19 13:30] laurenwalker commented on #1037
BTW I have a config file for test.arcticdata.io here: https://github.nceas.ucsb.edu/walker/metacatui-config

Let me know if you'd like me to update test.arcticdata.io

[2020-06-21 01:38] mbjones opened #1435 "new portal page type for publications"
**Describe the feature you'd like**
A new pre-configured page type for "Publications" that allows a portal to show all associated publications that 1) use the datasets in the portal, and.or 2) are associated with a project or grant tied to the portal.

**Is your feature request related to a problem? Please describe.**
Most portals created today already have manually created a publications page and

[2020-06-22 16:43] #1427 closed

[2020-06-22 18:01] laurenwalker commented on #1156
I moved this work to a feature branch `feature-spatial-filter` because it ended up being more complicated than just a simple missing piece. It looks like the way forward is to externalize the Google Map from the DataCatalogView, such as a SpatialFilterView. This would also pave the way for supporting other mapping libraries in the future or interactive data visualizations.

Changing the ticket tit

[2020-06-22 18:01] #1350 closed

[2020-06-22 18:02] #1261 closed

[2020-06-22 18:02] #1413 closed

[2020-06-24 20:53] jeanetteclark opened #1436 "placeholder: develop a web map using a custom projection"
**Describe the feature you'd like**

This is a placeholder issue, since it will involve more services than metacatUI.  It has previously been hanging out in a private repository since 2016.

Chris, from slack:

**Is your feature request related to a problem? Please describe.**
Much of the data locations in the Arctic Data Center are not displayed very nicely because the google maps projection does

[2020-06-26 16:21] amoeba opened #1437 "Update Dataset/DataCatalog JSON-LD to use https schema.org context"
Per Dave V, we should update the JSON-LD we generate to use the new https Schema.org context URI.

[code]

[2020-06-29 20:40] laurenwalker opened #1438 "Listen to timeout of UserModel.checkStatus()"
If the /portal/token endpoint takes a long time to get a response, we should trigger a timeout event and assume the user is logged out. Otherwise, views will be loading forever

[2020-06-29 22:16] robyngit commented on #1316
The last task for this issue was allowing the link button to make links from images. We decided in the meeting today that this is more involved than is worth it for now. It could be a future enhancement to the markdown editor.

[2020-06-29 22:29] laurenwalker opened #1439 "Issues with repository portals"
- [x] Testing with a Google Map API key - the map is pushed down the page. Looks like the width of the results container is set to 100% in the CSS. This was in the DataONE theme using the `cn-stage2.js` config file from https://github.nceas.ucsb.edu/walker/metacatui-config.

![Screen Shot 2020-06-29 at 4.38.26 PM.png](https://images.zenhubusercontent.com/5d152e12c27d0c306f021863/3460bee2-6b5d-4efc

[2020-06-30 15:36] #1316 closed

[2020-06-30 17:24] mbjones commented on #1437
Note that our current context URI is also missing its trailing slash, which causes a validation error with Dave's validation parser (and doesn't create the correct SO class URIs. So, whichever way it gets represented, include the trailing slash.

[2020-06-30 17:33] mbjones opened #1440 "validation errors with schema.org"
**Describe the bug**
Our schema.org entries do not validate using the in-progress validator by science on schema.org. While that is in flux, there are still some clear items that should be fixed:

- [x] Ensure the schema.org namespace includes its trailing slash
- [x] add the required `sameAs` property
- [x] add the required `version` property
- [x] add the required `isAccessibleForFree` property

[2020-06-30 18:03] laurenwalker commented on #1419
Thanks Robyn, this looks really nice so far. There's still some integration that needs to be done with the MetacatUI app:

----

- [ ] There's an issue in the DataCatalogView (/data), where the footer covers up the rest of the content. I think this is because the navbar and footer are missing `auto-height-member` classes that the view needs.

![Screen Shot 2020-06-30 at 12.22.35 PM.png](https://im

[2020-06-30 18:31] robyngit opened #1441 "Member Node filter in search.dataone.org disappeared"
This is an issue that was brought up in the DataONE website repository, but that relates to MetacatUI. @aebudden noticed that the Member Node search filter was not visible in search.dataone.org. The original discussion and related screenshot is here: https://github.com/DataONEorg/dataone-web/issues/90

[2020-06-30 18:53] laurenwalker commented on #1441
I just added it about an hour ago

[2020-06-30 18:53] #1441 closed

[2020-07-01 18:20] laurenwalker opened #1442 "Admin group removed from sysmeta of portal"
Somehow a user was able to remove the admin group from the sys meta, although the admin group is configured as a "hidden" subject in the AppModel.

Last sysmeta with admin group:

[code]

Next updated version:

[code]

"Joe Schmoe" above was the first and last name of the user. It looks like he may have typed his name in and saved that free-text as the subject? (We may want to restrict to ORCIDs a

[2020-07-01 23:06] laijasmine commented on #492
Adding a more recent example where the same thing happened:
https://arcticdata.io/catalog/view/resource_map_doi%3A10.18739%2FA2NG4D

[2020-07-02 19:47] rushirajnenuji commented on #1439
Fixed all the changes in the above commits.

[2020-07-02 19:47] #1439 closed

[2020-07-02 19:51] rushirajnenuji commented on #1387
Performs a retrieval of node information while doing label checks. Relevant commit:
- 2e4c8dc2d92668d2591bb61c4df33144f05a98d8
- 641f909802216d6673658a9f710d953031a93c2e

[2020-07-02 19:51] #1387 closed

[2020-07-06 18:14] rushirajnenuji commented on #1300
Part 1 of this ticket is to handle these checks from Metrics Service.
Relevant ticket: [metrics-service/issues/74](https://github.com/DataONEorg/metrics-service/issues/74)

[2020-07-07 10:12] amoeba commented on #1037
test.arcticdata.io has been upgraded to `feature-eml220-support` which has been recently rebased off of `dev-2.13`. @laurenwalker I used https://github.nceas.ucsb.edu/walker/metacatui-config and it worked like a charm. Thanks for putting that together.

I've coordinated with Jasmine and notified @jeanetteclark with some details and asked them to let us know if any issues pop up.

[2020-07-07 18:16] laurenwalker commented on #1037
Great, thank you! Thanks for testing out the upgrade script from metacatui-config; I'm glad it worked well.

[2020-07-07 22:45] laurenwalker commented on #1419
Since we will be releasing this new style for MetacatUI v2.12.0, I created a new branch: `https://github.com/NCEAS/metacatui/tree/feautre-d1-new-nav-and-footer-2.12` from `master` with Robyn's theme changes cherry-picked in.

Let's continue work on the theme on this new branch rather than https://github.com/NCEAS/metacatui/tree/feautre-d1-new-nav-and-footer, which was merged with the dev-2.13 bran

[2020-07-08 20:52] laurenwalker commented on #1129
This is basically working but there are some remaining tasks:
- [ ] The "My Portals" list currently queries the CN query service, but this causes issues when a portal is freshly created and not synced and indexed on the CN yet. I think we'll have to query MNs to get the portal list, or query a combination of the CN and MNs.
- [ ] PortalImages need to be fetched and saved to the MN

[2020-07-08 20:56] laurenwalker commented on #1300
All the changes needed in the UI:
- [ ] Inactive portals in the "My Portals" list should have the Edit button disabled. (A tooltip should explain why it can't be edited)
- [ ] When the PortalView is rendered, the Edit button should be disabled for inactive portals. (With a tooltip)
- [ ] When the PortalEditorView is rendered, inactive portals should only show a message that the portal is inactive

[2020-07-08 22:55] laijasmine opened #1443 "Consider making the replace button more visible"
**Describe the feature you'd like**
I would like to suggest making the replace button more visible. Maybe showing up beside the describe button?

**Is your feature request related to a problem? Please describe.**
To get to the replace button you need to click the triangle beside the Describe button. Currently, I don't think submitters are finding the replace function organically without guidance f

[2020-07-09 00:46] laurenwalker commented on #1289
Moving to the 2.13.0 milestone since the new site will be available with this page in the next month or so

[2020-07-09 00:59] laurenwalker opened #1444 "Don't render portals in dataone theme that were never active"
A portal doc in a repository can have one of three states:
- active
- inactive
- never active (doesn't exist in bookkeeper)

In the DataONE theme, we don't want to render `never active` portals, since they are "local" portal documents that were created on MNs with the bookkeeper service disabled.

[2020-07-09 01:07] laurenwalker commented on #1288
@peter @mbjones - Could I get this text in the next 2 weeks, so it can be ready when the DataONE portals are announced? This will be the first time people are seeing these charts, so we will want the info there. I also plan on linking to the FAIR page on the DataONE site. (#1289).

You can just reply here with the text and I can update MetacatUI. Thank you

[2020-07-09 01:39] laurenwalker opened #1445 "Show portal subscription info in user profile"
In the DataONE theme, we want to show subscription info retrieved from the Bookkeeper service. As these services mature, we will display more info about orders/payments, products, etc. But for now, we will keep things pretty basic:

- [ ] Customer first and last name, email, and subject (subscription subject)
- [ ] Subscription/trial start date
- [ ] Subscription/trial end date
- [ ] Trial status

[2020-07-09 01:59] laurenwalker opened #1446 "Create models and collections for bookkeeper objects"
For the DataONE Plus MVP release, we want the following models and collections:
- Quota model
- Usage model
- Usages collection - A collection of Usage models, and a reference to a Quota model
- Subscription model

After the MVP, we will want to support multiple subscriptions and quotas with a Subscriptions collection and Quotas collection. We will also eventually want a Customer model, Order mode

[2020-07-09 03:36] #1446 closed

[2020-07-09 03:38] laurenwalker commented on #1446
These still need to be fleshed out with fetch, parse, and save functionality, but that will be completed as part of the other issues in the DataONE MVP Release

[2020-07-11 00:35] amoeba commented on #1232
Just a little update here: @laurenwalker and I chatted on Slack this week about putting together a wireframe for this and I spent some time today working one up. See https://www.figma.com/file/rNgsCNoNFPRtErX5tLKudg/Permissions-View-MVP?node-id=1%3A2 (it's interactive if you press Play).

Some high-level things:

- I went with the concept of "Share" as it's an active verb and familiar to the broad

[2020-07-13 20:00] jeanetteclark opened #1447 "multiple method steps cannot be removed"
**Describe the bug**
When there are multiple method steps in a metadata record, editing the dataset and removing them using the X button doesn't seem to stick - the updated metadata still shows the same method steps.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a metadata record with multiple method steps
2. Edit the metadata document and remove 1 or more steps by clicking the gray

[2020-07-13 20:29] mbjones commented on #1232
I think that using the Share layout and design from the portal settings as closely as possible would help reinforce usage patterns and make it easier to learn. Plus, it is largely doing the same thing, but just being applied to a different object (either a data package or a single data object). So, couldn't we turn the nicely designed Share section from the portal into a reusable modal that could

[2020-07-13 22:44] mbjones commented on #323
I think this issue has been resolved and now links to the DOI. Can it be closed?

[2020-07-14 19:18] laurenwalker opened #1448 "New DataONE nav and footer needs portal view "minimal" styling"
New nav and footer need to be simplified/minimalized for the new theme style. This was already done by Robyn: https://github.com/NCEAS/metacatui/commit/e90c0e64e44dfa481e535fcc4a0f9cd6492778f8 but was overridden with the new theme files.

[2020-07-14 19:20] #1419 closed

[2020-07-15 01:21] laurenwalker commented on #323
Yes, we display the DOI without the `https://doi.org` prefix, but we link the doi string to the full DOI URI. I'll close.

[2020-07-15 01:21] #323 closed

[2020-07-15 02:55] amoeba commented on #1437
Done in https://github.com/NCEAS/metacatui/commit/6327bef703eb2f48d85eecf841be9703d72a5f2a on the dev-2.13 branch.

[2020-07-15 02:55] #1437 closed

[2020-07-15 03:52] amoeba commented on #1440
Done in https://github.com/NCEAS/metacatui/commit/269d3a03db51d586be8b674d2380e215769568d3.

I added `sameAs` just for identifiers that appear to be DOIs, added `version` and `isAccessibleForFree ` for all.

[2020-07-15 03:52] #1440 closed

[2020-07-15 03:59] amoeba commented on #1232
Yep, that's exactly what I was thinking. My design just differs in some ways for fun but these UIs need to be 100% identical IMO.

Good point. I think we might be able to use a combination of iconography and text to make it more clear. Though I think having the rules apply to the entire package will be very intuitive to people.